h1(class="mb-3")= `Мои игры`

if gameResult && !action && !fact
  -var results=['','Выигранные партии','Проигранные партии','Ничьи','Выходы в тайм']
  h5= results[gameResult]

if userRoles && !action && !fact
  -var roles = ['', 'Честный житель', 'Мафия', 'Комиссар', 'Сержант', 'Врач', 'Маньяк', 'Дитя', 'Адвокат', 'Любовница']
  -var ur = JSON.parse(userRoles)
  h6 
    if ur.length == 1
      span За роль: 
    else
      span За роли: 
    span= ur.map(r => roles[r]).join(', ')

if action && !fact
  -var actions = ['','Трупы за мафию','Промахи за мафию','Трупы за маньяка','Проверенные мафиози','Спасения доктором','Спасения адвокатом','Зоморозки любовницей']
  h5 По игровым действиям
  h6= actions[action]

if fact
  -var facts=['','Первая посадка','Первый труп','Первая проверка']
  h5 По игровым фактам
  h6= facts[fact]

hr

div(class="games-list mb-4")
  img(src="/images/loading.gif" width=50 class="loader")