if gifts.length != 0
	div(class="block p-3 mb-4")
		p Последние открытки

		div(class="gifts-list mb-2" data-id=profile.id)
			each gift, index in gifts
				div(class="gift-item" data-id=gift.id)
					img(src="/uploads/gift/"+gift.gift.picture data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title=gift.fromusername+'<hr>'+gift.description.trim().replaceAll('\n','<br>')+"<hr>"+gift.giftDate)
		if gifts.length == 9 
			div(class="more-btn-box text-center pt-2 mb-2")
				button(class="more-gifts-btn btn btn-outline-default") Ещё открытки

		if currentAccount && currentAccount.id != profile.id
			div(class="text-center mt-3")
				a(href=`/gift?to=${profile.username}` class="btn btn-sm btn-success") Подарить открытку