div(class="footer pt-4 pb-4")
  div(class="container")
    div(class="row")
      div(class="col-md-3")
        div(class="paragraph")
          include svg-icon
        div(class="paragraph") Мафия — бесплатная онлайн-игра.

      div(class="col-12 show-md")
        div(class="title title4") Ссылки
        div(class="paragraph")
          a(href="/games/current" target="_blank") Текущие игры

      div(class="col-md-3 col-6")
        div(class="title title4") Материалы
        div(class="paragraph")
          a(href="/rules" target="_blank") Правила Сайта
        div(class="paragraph")
          a(href="/how-to-play" target="_blank") Как тут играть
        div(class="paragraph")
          a(href="/guidelines" target="_blank") О нарушениях
        div(class="paragraph")
          a(href="/roles" target="_blank") Роли

      div(class="col-md-3 col-6")
        div(class="title title4") &nbsp;
        div(class="paragraph")
          a(href="/payments" target="_blank") О платежах
        div(class="paragraph")
          a(href="/inventory" target="_blank") Об инвентаре
        div(class="paragraph")
          a(href="/ranks" target="_blank") Ранги
        div(class="paragraph")
          a(href="/vip" target="_blank") VIP

      div(class="col-md-3")
        div(class="title title4") Соцсети
        div(class="paragraph")
          span Подписывайтесь на нас в соцсетях, чтобы быть в курсе обновлений игры.
        div(class="paragraph")
          a(href="https://t.me/MafiaOneOfficial" target="_blank" class="me-3" style="color:#2aa9d8")
            i(class="bi bi-telegram fs-2" title="Telegram" )

          a(href="https://discord.gg/XVNKWaFf" target="_blank" style="color:#5865f2")
            i(class="bi bi-discord fs-2" title="Discord" )

