meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1")
title= title || "Mafia One"
meta(name="description" content=description)
link(rel="icon" href="/favicon.svg" type="image/svg+xml")

link(rel='stylesheet' href='/css/bootstrap.min.css')
link(rel='stylesheet' href='/css/bootstrap-icons/font/bootstrap-icons.min.css')
link(rel='stylesheet' href='/css/style.css?v=1.0')

meta(name="color-scheme" content="only light")

script(src="/js/bootstrap.bundle.js")
script(src="/js/vendor/jquery-3.7.1.min.js")
script(src="/socket.io/socket.io.js")
script(src="/js/helper/alert.js")
script(src="/js/vendor/jquery.tmpl.js")
script(src="/js/base.js")
