div(class="pm-form")

  div(class="pm-friends-list-box") 
    h4 Сообщения
    div(class="pm-friends-list") 

  div(class="pm-chat-box")
    div(class="chat-beginning")
      div
        span(class="ion-chatboxes icon")
        p(class="text-secondary") Выберите диалог из списка слева.
