div(class="pm-form")

  div(class="pm-friends-list-box d-flex flex-column") 
    div(class="pm-header")
      h4 Сообщения
      span(class="close-pm bi-x-lg")
    div(class="overflow-auto")
      div(class="pm-friends-list") 

  div(class="pm-chat-box")
    div(class="chat-beginning")
      div
        span(class="bi-chat-right-dots icon")
        p(class="text-secondary") Выберите диалог из списка слева.
