script(id="noMessagesTmpl" type="text/x-jquery-tmpl")
  div 
    span(class="icon ion-edit")
    p(class="text-secondary") Тут пока нет сообщений. Напишите первое!

script(id="pmListItemTmpl" type="text/x-jquery-tmpl")
  div(class="friend-item" data-id="${id}")
    div(class="friend-avatar") 
      img(src="/uploads/${avatar}")
    div(class="friend-info")
      div(class="friend-nik ellipsis") ${username}
      div(class="last-message ellipsis") ${message}

