svg(viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg")
  path(d="M40.8126 0H13.6V98.5714L38.4115 119.67V37.7787L60.0215 68.3232L84.1494 27.3293V112.747L102.941 95.2747V4.94505H80.1934L60.0215 27.3293L40.8126 0Z" fill="#AAAAAA")
  path(d="M79.221 0L45.3101 47.5428L60.0121 68.3232L81.6221 37.7787V120L106.434 97.9121V0H79.221Z" fill="#9C3636")
