div(class="block mb-4 sticky-top")
  div(class="market-search")

    div(class="mearket-search-head p-4 bb-1-gray")
      h4(class="text-secondary") Поиск

    div(class="mearket-search-block p-4 bb-1-gray")
      p Предмет:
      div(class="category-selected-items category-types") 
      div(class='category-block-box')
        button(class="btn btn-sm btn-success bi-plus") 
        div(class="market-category-block")
          div(class="mc-wrapper")
            each cat in types 
              div(class="category-item" data-id=cat.id)= cat.name

    div(class="mearket-search-block p-4 bb-1-gray")
      p Класс:
      div(class="category-selected-items category-classes") 
      div(class='category-block-box')
        button(class="btn btn-sm btn-success bi-plus") 
        div(class="market-category-block")
          div(class="mc-wrapper")
            each cat in classes
              div(class="category-item thing-class-"+cat.id data-id=cat.id)= cat.name

    div(class="mearket-search-block p-4 bb-1-gray")
      p Коллекция:
      div(class="category-selected-items category-collections") 
      div(class='category-block-box')
        button(class="btn btn-sm btn-success bi-plus") 
        div(class="market-category-block")
          div(class="mc-wrapper")
            each cat in collections
              div(class="category-item" data-id=cat.id)= cat.name

    div(class="mearket-search-head p-4")
      button(class="btn btn-success w-100 filter-btn") Найти