doctype html
html 
  head
    include ../includes/head
    block head
  body 
    div(class="wrapper")
      div(class="content")

        include ../includes/header

        main
          block content

      include ../includes/footer

  script(src="/js/vendor/notifier.js")

  block scripts 