doctype html
html 
  head
    include ../includes/head
    link(href="/css/grey.css" rel="stylesheet")
    block head
  body 
    div(class="wrapper")
        div(class="content")
        
            include ../includes/header
            
            main
              block content
                
        include ../includes/footer
  block scripts 