div(class="container text-center")
  div(class="jumbotron pt-3 mb-3")
    h1 Приглашаем в мафию
    p Это отличное место, чтобы поиграть с друзьями в легендарную игру
    a(href="/lobbi" class="btn btn-light btn-lg f-mon") Начать игру
  img(src="/images/mafia-prevu3.jpg" alt="mafia prevu" class="prevu")
