extends layouts/two_column_9_3

block article 
  div(class="block mb-5")
    article
      h1 Как тут играть
      p Сначала немного описания игры «Мафия» из #[a(href="https://ru.wikipedia.org/wiki/Мафия_(игра)" target="_blank") Википедии]:

      blockquote #[b «Ма́фия»] — клубная командная психологическая пошаговая ролевая игра с детективным сюжетом, моделирующая борьбу информированных друг о друге членов организованного меньшинства с неорганизованным большинством. Завязка сюжета: Жители города, доведённые до предела разгулом мафии, выносят решение пересажать в тюрьму всех мафиози до единого. В ответ мафия объявляет поборникам закона и справедливости войну — до полного уничтожения добропорядочных горожан.

      h2 Правила игры

      p
        i Если вы уже знаете правила игры, то можете пропустить этот раздел и перейти сразу в особенностям игры на нашем сайте.
      
      p Игра состоит из чередования «дня» и «ночи». 
      
      p Днём все игроки совещаются и голосуют против игроков, которых считают причастным к банде мафиози. После окончания времени выделенного на ход, игрок, набравыший большее количество голосов отправляется в тюрьму и наступает «ночь». Если ни один из игроков не набирает большинства, голосование повторяется пока не будет выявлен такой игрок. 

      p Следом идет «ночь», где мафиози убивают одного из честных жителей города. При этом все мафиози должны голосовать в одного и того же игрока, иначе им будет засчитан «промах». 
      
      p После этого вновь наступает «день» и процедура поиска мафиози продолжается. 

      p Игра идёт до тех пор, пока все мафиози не будут найдены, либо все честные жители не будут убиты или посажены в тюрьму.


      h2 Особенности игры у нас

      p Наша версия игры немного, в небольших деталях, отличается от классической версии. Где-то мы добавили новое, где-то исправили то, что посчитали нужным доработать. 

      p У нас вы сможете сыграть в различные версии мафии, отличающиеся как наличием разнообразных ролей, так и механикой самой игры:

      ul 
        li #[b Классический режим]. В игре участвуют от 7 до 17 человек. Доступные роли: мафиози, честный житель, шериф и сержант. Данный режим больше всего близок к классической версии традиционной мафии.
        li #[b Мультирежим]. В игре участвую от 7 до 17 человек. В дополнение к ролям из классического режима имеются: маньяк, путана, врач, дитя. 
        li #[b Режим перестрелки]. В игре участвуют от 7 до 17 человек. Доступные роли: мафия, честный житель, шериф, сержант, врач, путана, маньяк, дитя. В данном режиме, каждому игроку в начале игры даётся определенный уровень ночного и дневного «здоровья», который уменьшается при каждом голосе в него других игроков. Размер ущерба здоровью игрока определяется уровнем «прокаченности» арсенала. При достижении нулевого уровня здоровья - игрок отправляется в тюрьму, либо умирает (в зависимости от того, какой из уровней здоровья закончился). 
        li #[b Режим конструктора]. В игре участвуют от 3 до 21 человек. В этом режиме можно скомбинировать любой набор ролей. 
        li #[b Соревновательный режим]. В игре участвуют от 9 до 17 человек. В этом режиме игроки предварительно не видят с кем будут играть, система сама подбирает игроков, основываясь на #[a(href="/ranks") рангах]. 

      