extends layouts/grey_layout

block head 
    link(href="/css/profile.css" rel="stylesheet")

block content 
    if !isBlock
        include includes/profile/top_info
        include includes/profile/top_stat
    else 
        div(class="container")
            p(class="text-secondary text-center fs-4") Этот пользователь добавил вас в чёрный список.
            if !isFrends || (ifFrends && isFrends.status != -2)
                p(class="text-secondary text-center") Вы тоже можете #[a(class="block-user-too" data-id=profile.id) добавить] его в чёрный список.
            else
                p(class="text-secondary text-center")  Вы также заблокировали этого игрока, однако вы можете #[a(class="unblock-user" data-id=profile.id) разблокировать] его.

    div(class="m-4")

block scripts 
    script(src="/js/profile.js")