.things-list {
  grid-template-columns: repeat(auto-fill, 15.5%);
}
.thing-item {
  cursor: pointer;
  margin-bottom: 0.8rem;
}

@media (max-width: 768px) {
  .things-list {
    grid-template-columns: repeat(auto-fill, 31.5%);
  }
}
@media (max-width: 576px) {
  .things-list {
    grid-template-columns: repeat(auto-fill, 48.8%);
  }
}
@media (max-width: 320px) {
  .things-list {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}

.modal-title {
  color: var(--color-white);
}

.input-group-text {
  padding: 0 10px;
}
.sell-form-img {
  width: 100px;
  flex: none;
}
.sell-form-img .thing-class {
  height: 10px;
  width: 100%;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.img-sell {
  border: 1px solid #eee;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
  justify-content: space-between;
}

.img-sell > div:first-child {
  flex: 1;
  display: flex;
  align-items: center;
}

.sort-box select,
.type-box select {
  width: 200px;
}

.hide-item {
  display: none !important;
}

@media (max-width: 768px) {
  .sort-box select,
  .type-box select {
    width: 167px;
  }
}
@media (max-width: 576px) {
  .sort-box select,
  .type-box select {
    width: 100%;
  }
  .sort-box,
  .type-box {
    flex: 1 1 50%;
  }
}
