.messages-wrapper {
  padding: 1rem;
}

.pm-form {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 700px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.pm-friends-list-box {
  width: 280px;
  height: 100%;
  max-width: 100%;
  background: #f5f5f5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex: none;
}

.pm-friends-list-box h4 {
  padding: 1rem;
  margin: 0;
  font-weight: 700;
  opacity: 0.8;
  height: 60px;
}

.pm-chat-box {
  height: 100%;
  width: 100%;
  background: #fff;
  flex: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease;
  left: 100%;
}

.friend-item {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.friend-item:hover {
  background-color: #ddd;
}

.friend-item.active {
  background-color: #fff;
}

.friend-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.friend-avatar {
  flex: none;
  position: relative;
}

.pm-friend-avatar.online:after,
.friend-avatar.online:after {
  content: ' ';
  width: 13px;
  height: 13px;
  background-color: #8cc152;
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 10px;
  border: 2px solid #fff;
}
.friend-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.friend-info {
  flex: 1;
  overflow: hidden;
}
.friend-nik {
  font-weight: 600;
}
.last-message {
  font-size: 0.9em;
}
.last-message img {
  width: 22px;
}
.last-message.read-0:before {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #f55;
  margin-right: 0.3rem;
  margin-bottom: 1px;
  border-radius: 10px;
}

.chat-beginning {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.chat-beginning .icon {
  font-size: 4rem;
  color: darkgrey;
}

.pm-chat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pm-chat-title {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  padding: 0 1rem;
  flex: none;
}
.pm-friend-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}
.pm-friend-info .back {
  width: 20px;
  text-align: center;
  color: #555;
  display: none;
}

.pm-friend-avatar {
  flex: none;
  position: relative;
}
.pm-friend-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.pm-friend-nik {
  flex: 1;
}
.pm-chat-btns {
  flex: none;
}
.pm-chat {
  flex: 1;
  padding: 1rem;
  overflow: auto;
}
.pm-chat-input-box {
  flex: none;
}

.pm-chat .msg {
  margin: 1px 0;
  border-radius: 15px;
  padding: 7px 12px;
  max-width: 80%;
  line-height: 21px;
  overflow-wrap: anywhere;
}
.friend-message .msg {
  background: #f7f7f7;
  color: #5b5d57;
  box-shadow: 0 0 4px 0px #ccc;
}
.my-message .msg {
  background: linear-gradient(30deg, #6097e0, #367bd8);
  color: #fff;
  font-size: 0.9rem;
}

.friend-message,
.my-message {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.my-message {
  justify-content: end;
}
.pm-chat .time {
  font-size: 0.8rem;
  color: #bbb;
}

.pm-chat-input-box {
  border: 1px solid #ddd;
  border-radius: 6px;
  position: relative;
  margin: 10px;
}
.pm-chat-input-box input {
  width: 100%;
  border: 0;
  outline: 0;
  padding-right: 40px;
  color: var(--color-black);
}

.smile-icons-box {
  position: absolute;
  right: 2px;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 100%;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 82%;
  background-image: url(/images/eHehe.svg);
}

.pm-form .all-smiles {
  position: absolute;
  bottom: 0px;
  right: 0;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px #28702e;
  opacity: 0;
  padding: 10px;
  padding-right: 0;
  transition: all 0.3s ease;
}

.pm-form .all-smiles.active {
  bottom: 40px;
  opacity: 1;
}

.pm-form .all-smiles-title {
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--color-black-light);
}

.pm-form .all-smiles-items {
  max-width: 211px;
}

.pm-form .all-smiles-items img {
  width: 32px;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

.pm-friend-nik a {
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid #aaa;
  transition: all 0.3s ease;
}
.pm-friend-nik a:hover {
  border-bottom: 1px solid #555;
}
.nomessages {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nomessages .icon {
  font-size: 3rem;
  color: darkgrey;
}
.messages-date {
  text-align: center;
  margin-top: 0.5rem;
}
.messages-date span {
  font-size: 0.8em;
  color: #aaa;
  background: #f6f6f6;
  padding: 2px 9px;
  border-radius: 20px;
}

.pm-chat .msg img {
  width: 28px;
}

.pm-chat .msg.smile {
  background: transparent;
  box-shadow: none;
}
.pm-chat .msg.smile img {
  width: 100px;
}

.pm-chat .msg a {
  color: inherit;
}

.chatbox.unread:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  right: -6px;
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 10px;
  border: 2px solid #fff;
}

.isread {
  color: #7db4ff;
  font-size: 1.8rem;
  line-height: 1rem;
  position: relative;
  top: 6px;
  right: -5px;
}

.read-0 .isread {
  display: none;
}

@media (max-width: 768px) {
  .pm-form {
    display: block;
  }
  .pm-friends-list-box {
    width: 100%;
    border-radius: 5px;
  }
  .pm-chat-box {
    border-radius: 5px;
    position: absolute;
    top: 0;
    opacity: 1;
  }
  .pm-chat-box.open {
    opacity: 1;
    left: 0;
  }
  .pm-friend-info .back {
    display: block;
  }
}

.pm-chat-input-box .typing {
  position: absolute;
  top: -18px;
  left: 10px;
}
.typing {
  position: relative;
}
.typing span {
  content: '';
  -webkit-animation: blink 1.5s infinite;
  animation: blink 1.5s infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  height: 10px;
  width: 10px;
  background: #3b5998;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.typing span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  margin-left: 15px;
}
.typing span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin-left: 30px;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
