.offer .ion-arrow-swap:before {
  content: '\f268';
  transform: rotate(90deg);
}

.offer .icon {
  color: var(--color-white);
  font-size: 1.5rem;
  padding: 0 7px;
  border-radius: 50px;
}

.trader {
  border-bottom: 3px solid #eee;
  opacity: 0.7;
  cursor: pointer;
}

.trader.active {
  border-bottom-color: green;
  opacity: 1;
}

@media (max-width: 576px) {
  .list-trade-item .things-list {
    grid-template-columns: repeat(auto-fill, 31.1%);
  }
}
.list-trade-item .thing-item .thing-item-name {
  height: 10px;
}
.list-trade-item .thing-item-img {
  aspect-ratio: 10/9;
}
