div(class="modal fade" id="walletForm" tabindex="-1" data-bs-backdrop="static")
  div(class="modal-dialog modal-lg modal-dialog-centered")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title") Пополнение баланса
        button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть")
      div(class="modal-body")
        div(class="container-fluid")
          div(class="row")
            div(class="col-md-8")
              p Modal body text goes here.
            div(class="col-md-4")
              p 123
