include /includes/form_mixins

div(class="container")
  div(class='block mb-4' style="width:320px; margin:auto;")
    div(class='title title-3') Никнэйм
    div(class="pb-3 auth-flex-cols")
      div(class="w-100 auth-border" style="border:0")
        form(class="form w-100 m-0 ps-4 pe-4" id="makenick-form" method="post")
          input(type="hidden" name="id" id="makenick-form-id" value=account.id)
          input(type="hidden" name="username" id="makenick-form-username" value=account.username)
          +form_row("Выберите себе никнейм", "text", "makenick-form-nik", "например, nagibator2005", true)
          div(class="form-row")
            input(class="btn btn-success me-4" type="submit" value="Создать")
          div(class="alert alert-danger hide") 