mixin role_cell(value , roles, result)
  td
    if my
      a(href=`/games/archive/my?from=${from?from:''}&to=${to?to:today}&userRoles=${roles}&gameResult=${result}` target="_blank")= value
    else
      span= value

mixin role_row(name, role, roles)
  tr 
    td= name
    +role_cell(role.all, roles, '')
    +role_cell(role.win, roles, 1)
    +role_cell(role.loose, roles, 2)
    +role_cell(role.draw, roles, 3)
    +role_cell(role.timeout, roles, 4)

if role
  div(class="block p-3 mb-4")
    h5 По ролям
    table(class="table table-hover")
      thead 
        tr 
          th Роль
          th Всего
          th Побед
          th Поражений
          th Ничьи
          th Тайм
      tbody
        +role_row('Мафия', role.mafia, '[2,8,9]')
        +role_row('Комиссар', role.komissar, '[3,4]')
        +role_row('Честный житель', role.citizen, '[1,5,7]')
        +role_row('Маньяк', role.maniac, '[6]')
