div(class="col-12 col-md-6") 
  div(class="gifts-header d-flex justify-content-between align-items-center mb-2")
    h4(class="mb-0 backfon") Вещи
    if myprofile || (hideinvent != 2 && (hideinvent != 1 || isFrends))
      if things.length != 0
        div
          a(href="/profile/"+profile.username+"/things" class="btn btn-sm btn-outline-secondary") Все вещи

  if !myprofile && (hideinvent == 2 || (hideinvent == 1 && !isFrends))
    p Инвентарь скрыт
  else

    if !things || things.length == 0
      p Пока нет вещей 
    else
      div(class="things-list mb-4" data-id=profile.id)
        each thing, index in things
          div(class="thing-item" data-id=thing.id)
            div(class="thing-item-img")
              img(src="/uploads/thing/"+thing.thing.picture)
            div(class="thing-item-name tin-class-"+thing.thing.thingclassId)
              span= thing.thing.name