.winner {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 80px;
	height: 80px;
	background-size: 110px;
	opacity: 0.5;
}

.winner-side-2 {
	background-image: url(/images/rcitizen.svg);
}

.winner-side-3 {
	background-image: url(/images/rmafia.svg);
}

.winner-side-4 {
	background-image: url(/images/rmaniac.svg);
}
