h3 Настройки
div(class="block p-3 mb-3")
  ul(class="nav nav-pills flex-column")
    li(class="nav-item")
      a(href="/profile/settings" class="nav-link active") Настройки профиля
    li(class="nav-item")
      a(href="/profile/notifications" class="nav-link") Уведомления

h3 Безопасность
div(class="block p-3 mb-3")
  ul(class="nav nav-pills flex-column")
    li(class="nav-item")
      a(href="/profile/change-password" class="nav-link") Сменить пароль