div(class="block mb-4 pb-2")
  div(class="p-4 pb-2")
    h4 Настройки

  ul(class="aside-menu")
    li 
      a(href="/profile/settings" class="active") Настройки профиля
    li 
      a(href="/profile/notifications") Уведомления


  div(class="p-4 pb-2")
    h4 Безопасность

  ul(class="aside-menu")
    li 
      a(href="/profile/change-password" class="nav-link") Сменить пароль