if nikChanges.length != 0
  h3(class='mt-4') Прошлые ники
  div(class="block p-3")
    table(class="table")
      thead   
        tr 
          th Ник
          th Дата смены
      tbody
        each nik in nikChanges
          tr 
            td= nik.username
            td= nik.coolChangeDate

div(class="mt-3 mb-3") 
  small(class="text-secondary") * Первая смена ника бесплатна. Каждая последующая на 100 рублей дороже предыдущей стоимости.