div(class="block mb-4 pb-2 mt-md-3")
  div(class="p-4 pb-2")
    h4 Игр за период

    div(class="counts")
      div(class="d-flex justify-content-between gap-1")
        div Всего: 
        div(class="dots")
        div(class="total") 0

      div(class="d-flex justify-content-between gap-1")
        div Классика: 
        div(class="dots")
        div(class="classic") 0

      div(class="d-flex justify-content-between gap-1")
        div Перестрелка: 
        div(class="dots")
        div(class="shootout") 0

      div(class="d-flex justify-content-between gap-1")
        div Мультиролевой: 
        div(class="dots")
        div(class="multi") 0

      div(class="d-flex justify-content-between gap-1")
        div Конструктор: 
        div(class="dots")
        div(class="constructor") 0




