div(class="block mb-4 pb-2")
  div(class="p-4 pb-2")
    h4 Дата

    div(class="input-group md-3")
      span(class="input-group-text") 
        span(class="ion-android-calendar")
      input(class="form-control" id="date" value=`${day}.${month}.${year}`)
      button(class="btn btn-success sel-date-btn")
        span(class="ion-chevron-right")


