div(class="block mb-4 pb-2")
  div(class="p-4 pb-2")
    h4 Меню

  ul(class="aside-menu")
    li 
      a(href="/games/current") Текущие игры
    li 
      a(href="/games/archive" class="active") Архив игр

