div(class="things-filter mb-3")
  div(class="d-flex")
    div(class="filter-box flex-grow-1")
      input(class="form-control" placeholder="Поиск по вещам")
    div(class="ms-2 type-box flex-grow-0 hidden-xs")
      select(class="form-control")
        option(value="0") Все
        each type in types
          option(value=type.id)= type.name
    div(class="ms-2 sort-box flex-grow-0")
      select(class="form-control")
        option(value="0") По умолчанию
        option(value="1") По названию
        option(value="2") По классу
        option(value="3") По типу
        option(value="4") По дате