script(id="sellFormImgTmpl" type="text/x-jquery-tmpl")
  div(class="img-sell" title="${thing.name}")
    div(class="p-2")
      img(src="/uploads/thing/${thing.picture}")
    div(class="thing-class tin-class-${thing.thingclassId}")

