div(class="d-flex justify-content-between align-items-center")
  div(class="friends-top")
    div(class="friends-crumbs")
      div(class="friends-avatar")
        a(href="/profile/" + profile.username)
          img(src="/uploads/" + profile.avatar alt=profile.username)
      a(href="/profile/" + profile.username class="user-name ellipsis")= profile.username
      span(class="ion-ios-arrow-right")
      span Вещи
      small(class='text-secondary fs-3 things-count')= thingsCount

  if currentAccount
    if profile.id != currentAccount.id
      if thingsCount != 0
        div
          a(href="/trades/new/"+profile.username class="btn btn-outline-secondary" title="Предложить обмен" data-bs-toggle="tooltip" data-bs-placement="top") Обмен
    else 
      a(href="/trades" class="btn btn-outline-success" title="Предложения обмена" data-bs-toggle="tooltip" data-bs-placement="top") 
        span Обмены
        if tradesCount > 0
          span= ` (${tradesCount})`