if !isBlock
  include ../new-profile/top

  div(class="container")
    if isHide 
      center
        h4 Инвентарь скрыт
    else
      div(class="row")

        div(class="col-md-9") 
          include things

        div(class="col-md-3") 
          include filter
else 
  include /includes/profile/profile/block
