div(class="d-flex justify-content-between align-items-center mb-2")
	h4(class="m-0") Инвентарь

	if currentAccount
		if profile.id != currentAccount.id
			if thingsCount != 0
				div
					a(href="/trades/new/"+profile.username class="btn btn-sm btn-outline-secondary" title="Предложить обмен" data-bs-toggle="tooltip" data-bs-placement="top") Обмен
		else 
			a(href="/trades" class="btn btn-sm btn-outline-success" title="Предложения обмена" data-bs-toggle="tooltip" data-bs-placement="top") 
				span Обмены
				if tradesCount > 0
					span= ` (${tradesCount})`

include /includes/profile/inventory/things

if currentAccount && profile.id == currentAccount.id
	include /includes/profile/inventory/kraft-form-tmpl
	include /includes/profile/inventory/form-tmpl
	include /includes/profile/inventory/sell-form
else 
	include /includes/profile/inventory/other-form-tmpl