h1 Восстановление пароля
p Вы получили это письмо, потому что запустили процедуру восстановления пароля на сайте Mafia One.
p Если это были не вы, просто проигнорируйте данное письмо.
p Иначе, перейдите по #[a(href=link) ссылке] и введите новый пароль. 