div(class="priz-value-box mb-4")
  p Призовой фонд недели
  div(class="d-flex justify-content-center")
    span(class="number") 1
    span(class="number") 0
    span(class="number") 0
    span(class="number") 0
    span(class="comma") ,
    span(class="number") 0
    span(class="number") 0