div(class="block p-4 top-desc mb-4")
  h5 Как работает топ?

  p В топ попадают игроки, которые на текущей неделе выиграли хотя бы один матч в #[b соревновательном режиме].

  p За победу вы получаете очки, зависящие от текущих рангов игроков находящихся в матче (от 1 до 25)

  p Каждый понедельник в 3:00 по Москве выдаются призы победителям топа, а сам топ очищается.