div(class="friends-top")
  div(class="friends-crumbs")
    div(class="friends-avatar")
      a(href="/profile/" + currentAccount.username)
        img(src="/uploads/" + currentAccount.avatar alt=currentAccount.username)
    a(href="/profile/" + currentAccount.username class="user-name ellipsis")= currentAccount.username
    span(class="bi-chevron-right user-name")
    a(href="/profile/friends" class="user-name ellipsis") Друзья
    span(class="bi-chevron-right")
    span Заявки 