div(class="block mb-4 pb-2")
  div(class="p-4 pb-2")
    h4 Обмены

  ul(class="aside-menu")
    li 
      a(href="/trades" class=menu==1?'active':'') Входящие
    li 
      a(href="/trades/sended" class=menu==2?'active':'') Отправленные
    li 
      a(href="/trades/history" class=menu==3?'active':'') История