script(id="statusAcceptTmpl" type="text/x-jquery-tmpl")
    div(class="d-flex gap-3 align-items-center text-success")
        div
            div(class="ion-ios-checkmark-outline fs-1")
        div
            div(class="d-flex flex-column")
                span Обмен принят
                small ${date}

script(id="statusDeclineTmpl" type="text/x-jquery-tmpl")
    div(class="d-flex gap-3 align-items-center text-danger")
        div
            div(class="ion-ios-close-outline fs-1")
        div
            div(class="d-flex flex-column")
                span Обмен отклонён
                small ${date}

script(id="statusCancelledTmpl" type="text/x-jquery-tmpl")
    div(class="d-flex gap-3 align-items-center text-secondary")
        div
            div(class="ion-ios-close-outline fs-1")
        div
            div(class="d-flex flex-column")
                span Обмен отменён системой
                small ${date}

script(id="statusUserCancelledTmpl" type="text/x-jquery-tmpl")
    div(class="d-flex gap-3 align-items-center text-secondary")
        div
            div(class="ion-ios-close-outline fs-1")
        div
            div(class="d-flex flex-column")
                span Обмен отозван
                small ${date}

