extends /layouts/one_column

block head 
  link(href="/css/profile.css" rel="stylesheet")

block main
  div(class="block")
    include /includes/profile/friends-requests/head
    include /includes/profile/friends-requests/requests

