extends /layouts/one_column

block head 
    link(href="/css/profile/profile.css" rel="stylesheet")

block main
    include /includes/profile/friends/partner

    div(class="mb-4")
        include /includes/profile/friends/friends
