extends /layouts/one_column

block head 
  link(href="/css/profile.css" rel="stylesheet")
  link(href="/css/inventory.css" rel="stylesheet")

block main
  include /includes/profile/inventory/head

  include /includes/profile/inventory/things

  if currentAccount && profile.id == currentAccount.id
    include /includes/profile/inventory/form-tmpl
    include /includes/profile/inventory/sell-form
  else 
    include /includes/profile/inventory/other-form-tmpl

block scripts 
  script(src="/js/inventory.js")