extends /layouts/one_column

block head 
  link(href="/css/profile.css" rel="stylesheet")
  link(href="/css/inventory.css" rel="stylesheet")

block main
  include /includes/profile/inventory/head

  include /includes/profile/inventory/things

  if currentAccount
    include /includes/profile/inventory/form-tmpl
    include /includes/profile/inventory/sell-form

block scripts 
  if currentAccount
    script(src="/js/inventory.js")