extends /layouts/grey_layout

block head 
	link(rel="stylesheet" href="/css/profile/new-profile.css")
	link(href="/css/lobbi/game.css?v=1.0" rel="stylesheet")
	link(href="/css/vendor/jquery-ui.css" rel="stylesheet")
	link(href="/css/ui/datepicker.css" rel="stylesheet")
	script(src="/js/vendor/jquery-ui.js")

block content 
	include /includes/profile/new-statistics/content

block scripts 
	script(src="/js/profile/statistics/datepicker.js")
