extends /layouts/grey_layout

block head 
	link(href="/css/profile/profile.css" rel="stylesheet")
	link(href="/css/profile/inventory.css?v=1.1" rel="stylesheet")
	link(rel="stylesheet" href="/css/profile/new-profile.css")

block content 
	include /includes/profile/new-inventory/content

block scripts 
	include /includes/profile/inventory/thing-tmpl
	script(src="/js/profile/inventory/inventory.js?v=1.1")
	script(src="/js/profile/inventory/filter.js")
	if currentAccount && profile.id == currentAccount.id
		script(src="/js/profile/inventory/trading.js")
		script(src="/js/profile/inventory/kraft.js")