extends /layouts/grey_layout

block head 
    link(href="/css/profile/profile.css" rel="stylesheet")

block content 
    if !isBlock
        include /includes/profile/profile/top_info

        if punishments && punishments.length > 0 && punishments.filter(p => p.current).length > 0
            include /includes/profile/profile/punish

        include /includes/profile/profile/top_stat

        div(class="container mt-4")
            div(class="row")
                include /includes/profile/profile/gifts
                include /includes/profile/profile/things

    else 
        include /includes/profile/profile/block

    if currentAccount && currentAccount.role == 1
        div(class="container mt-4")
            include /includes/profile/profile/punishments

    div(class="m-4")

block scripts 
    include /includes/profile/profile/profile-gift-tmpl
    script(src="/js/profile/profile.js")
    if currentAccount && currentAccount.id == profile.id 
        script(src="/js/profile/profile-self.js")
