extends /layouts/two_column_9_3

block aside 
    include /includes/profile/settings/menu

block article
    include /includes/profile/settings/topSettings

    include /includes/profile/settings/nikChanges

block scripts 
    link(href="/css/profile/settings.css" rel="stylesheet")
    script(src="/js/profile/settings.js?v=1.2")
