extends /layouts/two_column_9_3

block aside 

block article
    include /includes/profile/statistics/top

    include /includes/profile/statistics/base

    include /includes/profile/statistics/roles

block scripts 
