extends /layouts/two_column_9_3

block head 
  link(href="/css/profile/wallet.css" rel="stylesheet")

prepend content
  include /includes/profile/wallet/adjunction
  include /includes/profile/wallet/wallet_form

block article 
  include /includes/profile/wallet/head

block aside 
  include /includes/profile/wallet/transferForm
  include /includes/profile/wallet/promoForm

block scripts 
  include /includes/profile/wallet/eventTmpl
  script(src="/js/profile/wallet.js?v=1.0")