div(class="block mb-4 pb-2")
  div(class="p-4 pb-2")
    h4 Настройки

  ul(class="aside-menu")
    li 
      a(href="/profile/settings") Настройки профиля
    li 
      a(href="/profile/notifications" class="active") Уведомления

if currentAccount.telegramChatId
  div(class="block p-4 mt-4 mb-3")
    p Уведомления в telegram подключены. Чтобы отключить - нажми "Отключить"
    form(method="post" action="/profile/offtelegram")
      button(type="submit" class="btn btn-danger") Отключить
else
  div(class="block p-4 mt-4 mb-3")
    p Для подключения уведомлений в telegram, нажми на кнопку "Подключить" и запусти бота
    a(href="https://t.me/"+botName+"?start="+currentAccount.username+"__"+currentAccount.id+"3301" class="btn btn-success" target="blank") Подключить 


