h4 {
  margin-bottom: 0;
}

.bb-1-gray {
  border-bottom: 1px solid #eee;
}

.category-block-box {
  position: relative;
}

.market-category-block {
  position: absolute;
  top: 60px;
  left: -10px;
  z-index: 1;
  opacity: 0;
  display: none;
  background-color: #198754;
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 0.4rem 0;
}

.market-category-block.show {
  display: block;
}

.market-category-block.visible {
  opacity: 1;
  top: 42px;
}

.category-item {
  padding: 0.25rem 1rem;
  color: #fff;
  cursor: pointer;
  min-width: 200px;
}

.category-item:hover {
  background-color: #179a5d;
}

.mc-wrapper {
  position: relative;
}

.mc-wrapper:before {
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  left: 15px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #198754;
}

.category-selected-items {
  overflow: hidden;
}

.category-selected-items .category-item {
  margin: 0 3px 3px 0;
  background-color: #00b863;
  border-radius: 4px;
}

.category-item.class-1,
.thing-class-1 {
  background-color: var(--color-class-1);
}

.category-item.class-2,
.thing-class-2 {
  background-color: var(--color-class-2);
}

.category-item.class-3,
.thing-class-3 {
  background-color: var(--color-class-3);
}

.category-item.class-4,
.thing-class-4 {
  background-color: var(--color-class-4);
}

.category-item.class-5,
.thing-class-5 {
  background-color: var(--color-class-5);
}

.thing-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 10px;
}

.thing-image {
  width: 100px;
  padding: 10px;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thing-name-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.thing-count {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 110px;
  min-width: 105px;
  flex: none;
}

.thing-price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 110px;
  min-width: 105px;
  flex: none;
}

a.thing-item {
  color: #333;
  text-decoration: none;
}

.thing-class {
  padding: 1px 10px;
  color: var(--color-white);
  font-size: 0.8em;
  border-radius: 4px;
}

.thing-line {
  display: flex;
  gap: 10px;
}

@media (max-width: 576px) {
  .thing-line {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.thing-name-block {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  text-align: center;
  color: #fff;
}

.thing-description {
  font-size: 0.9em;
}

.thing-type {
  font-size: 0.8em;
}
.offer-account {
  flex: none;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-account img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
.loading {
  padding: 1rem;
  text-align: center;
}
.loading img {
  width: 50px;
}
