header(class="game-status-"+game.status)
  div(class="container-fluid h-100")
    div(class="d-flex justify-content-between align-items-center h-100")

      if game.status == 2
        div(class="timer" title="Таймер хода" data-bs-toggle="tooltip" data-bs-placement="bottom") 
          span(class="ion-ios-clock") 
          span(class="value" data-seconds=seconds data-stamp=Date.now()) 
      else
        span Игра окончена

      div(class="to-lobbi "+(game.period!=6&&isPlayer?'hide':''))
        a(class="btn btn-sm btn-warning" href="/lobbi") вернуться в лобби

      //- div(class="") 
      span(class="role-name" title="Ваша роль в игре" data-bs-toggle="tooltip" data-bs-placement="bottom")

      if currentAccount
        span(class="user-nik hide")= currentAccount.username

div(class="header-shadow mb-3")
div(class="smile-pattern hide")= (smiles.join('|'))