header(class="game-status-"+game.status+ " game-period-"+game.period)
  div(class="container-fluid h-100")
    div(class="d-flex justify-content-between align-items-center h-100 header-items")

      if game.status == 2
        div(class="timer" title="Таймер хода" data-bs-toggle="tooltip" data-bs-placement="bottom") 
          span(class="bi-stopwatch") 
          span(class="value" data-seconds=seconds data-stamp=0) 
      else
        div
          span Игра окончена

      div(class="text-center d-flex align-items-center")
        small(class="d-md-inline d-none d-hidden") Ваша роль в игре: 
        span(class="role-name ms-1" title="Ваша роль в игре" data-bs-toggle="tooltip" data-bs-placement="bottom")
        span(class="role-icon ms-1")

      div
        div(class="to-lobbi text-end "+(game.period!=10&&isPlayer?'hide':''))
          a(class="btn btn-sm btn-warning" href="/lobbi") вернуться в лобби

      if currentAccount && currentAccount.id == 1 && game.period != 10
        div(class="stop-box")
          button(class="btn" id="stopTheGame") 
            span(class="bi bi-sign-stop-fill text-light")


if currentAccount
  div(class="user-nik hide")= currentAccount.username

div(class="header-shadow mb-3")
div(class="smile-pattern hide")= (smiles.join('|'))