div(class="modal fade" id="roleForm" tabindex="-1")
  div(class="modal-dialog modal-dialog-centered modal-sm")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title") Ваша роль в игре
        button(type="button" class="btn-close" data-bs-dismiss="modal") 

      div(class="modal-body")
        p(class="rolePicture")
        h3(class="roleName")
        hr
        p(class="roleDesc")

      div(class="modal-footer")
        button(type="button" class="btn btn-dark" data-bs-dismiss="modal") OK

