extends /layouts/two_column_8_4

block head 
  link(href="/css/market.css" rel="stylesheet")

prepend content
  include /includes/market/header

block main
  include /includes/market/article

block aside 
  include /includes/market/balans
  include /includes/market/aside


block scripts 
  include /includes/market/thing-tmpl
  script(src="/js/market.js")