extends /layouts/two_column_6_6

block head 
  link(href="/css/game/base.css" rel="stylesheet")
  link(href="/css/game/chat.css?v=1.0" rel="stylesheet")

prepend content 
  include /includes/game/loader
  include /includes/game/header

block main
  include /includes/game/chat
  include /includes/game/roleForm

  include /includes/game/claim-form

block aside 
  include /includes/game/multi/players



block scripts 
  include /includes/game/game-tmpl
  script(src="/js/game/multi/base.js")
  script(src="/js/game/chat.js?v=1.2")
  if game.status == 2
    script(src="/js/game/timer.js")
    script(src="/js/game/multi/game.js?v=1.0")
    if currentAccount && currentAccount.role == 1
      script(src="/js/admin/game/game.js")