extends /layouts/two_column_8_4

block head 
  link(href="/css/lobbi/game.css?v=1.0" rel="stylesheet")
  link(rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css")
  link(href="/css/ui/datepicker.css" rel="stylesheet")
  script(src="https://code.jquery.com/ui/1.13.2/jquery-ui.js")


block main
  include /includes/games/user/header

block aside 
  include /includes/games/user/menu
  include /includes/games/user/period

block scripts 
  include /includes/games/user/games-tmpl
  script(src="/js/games/archive.js")