.desc {
  text-wrap: nowrap;
  overflow: hidden;
  max-width: 100px;
  text-overflow: ellipsis;
}
tbody tr {
  cursor: pointer;
}
tbody tr:hover td {
  background-color: var(--color-white);
}
.filter-hide,
.class-hide,
.collection-hide {
  display: none;
}
