div(class="container wallet-value")
  div(class="d-flex justify-content-between align-items-center pt-4 pb-4")
    div
      h3 Кошелёк
      h1(class="fw-bold") 
        span= Math.floor(currentAccount.wallet)
        if currentAccount.kopeiki != 0
          small= '.'+currentAccount.kopeiki
    div
      a(class="btn btn-success" id="openWalletForm" data-bs-toggle="modal" data-bs-target="#walletForm") Пополнить