div(class="block mb-5")
  article
    p(class="transations-title") История транзакций (#[span(class="total-transactions")= eventCount])

    table(class="w-100 table m-0")
      tbody(class="transactions" data-onPage=eventsOnPage)