h3 Промокод
  div(class="block p-3 mt-1") 
    form(method="post" id="promoForm") 
      div(class="mb-2")
        input(type="text" name="promocode" class="form-control" placeholder="Промокод..." required)
      div(class="mb-2")
        button(type="submit" class="btn btn-sm btn-success w-100") Применить код
