h3 Перевод*
  div(class="block p-3 mt-1") 
    form(method="post" id="transferForm") 
      div(class="mb-2")
        input(type="text" name="username" class="form-control" placeholder="Получатель" required)
      div(class="mb-2")
        input(type="number" name="count" class="form-control" placeholder="Сумма (от 1 до 5000)" min="1" max="5000" required)
      div(class="mb-2")
        button(type="submit" class="btn btn-sm btn-success w-100") Перевести
div(class="text-secondary") 
  small * комиссия за перевод составляет 10% от суммы перевода
