.inGame .btn-make-game,
.inGame .btn-to-game {
  display: none;
}

.game-action-btn {
  font-size: 4rem;
  line-height: 4.1rem;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.game-action-btn:hover {
  opacity: 1;
}

.player {
  max-width: 120px;
}
