extends ../layouts/grey_layout

block content 
    div(class="container")
        div(class='block mb-4')
            img(src="/images/travolta.webp" width="100%" alt="404" title="404")
    div(class="container")
        div(class='block mb-4 p-4')
            h1 Страница не найдена / 404        