extends ../layouts/two_column_9_3

block article 
  div(class="block mb-5")
    article
      h1 О наказаниях
      p Здесь мы в подробностях расскажем о деталях наказаний, которые мы накладываем на игроков, нарушающих правила.

      h2(id="mfp") MFP #[a(href="#mfp" class='anchor')]

      p #[b MFP] (Mafia Fair Play) — основной вид блокировки, который выдаётся за нарушение #[a(href="/guidelines") Правил игры]. С этой блокировкой игрок не может присоединяться к играм, и, соответственно, играть.

      p На странице поиска игр выводится красная плашка с сообщением о том, что игроку заблокирован поиск игр, а вместо кнопок "присоединиться" отображаются крестики.

      p Кроме этого бан MFP является публичным — все игроки видят в профиле нарушителя сообщение о том, что игрок был когда-то заблокирован. Это сообщение отображается в течение 90 дней после окончания первой блокировки. Однако чем больше банов, тем дольше сообщение останется в профиле — с каждым новым баном плашка висит на 90 дней дольше (после второго бана — 180 дней, после третьего — 270 дней и так далее).

      p
        b MFP-мини

      p В случае незначительных нарушений, когда игрок блокируется на срок менее 3 дней, бан MFP не засчитывается в общее число блокировок в публичной плашке, а сама плашка не отображается в профиле после окончания бана. Сама плашка имеет жёлтый, а не красный цвет. Таким образом, MFP-мини является своего рода «условным наказанием».

      p 
        b Блокировка обменов

      p При получении MFP на аккаунт накладывается блокировка обменов. Это означает, что вы не сможете ни отправлять, ни принимать трейды в течение всего срока MFP или MFP-мини.

      h2(id="global") Глобальный бан #[a(href="#global" class='anchor')]

      p Это исключительная мера наказания, которая применяется к отъявленным нарушителям. Получить глобальный бан можно за постоянные нарушения правил (бывают люди, которые даже после 90 дней блокировки возвращаются на сайт, чтобы слить снова) или за нарушение #[a(href="/rules") Правил Сайта] (например, распространение вредоносных ссылок, спам или мошенничество).

      p При глобальном бане аккаунт нарушителя блокируется полностью — в него нельзя войти, им нельзя пользоваться. Все предметы в инвентаре, соответственно, становятся недоступны навечно. Адрес электронной почты и привязанные социальные сети останутся на этом аккаунте, их нельзя будет привязать к другим аккаунтам в проекте — они тоже оказываются заблокированы.