extends ../layouts/two_column_9_3

block article 
  div(class="block mb-5")
    article
      h1 Об инвентаре
      p Инвентарь — раздел сайта, где хранятся ваши игровые предметы.

      h2 Какие предметы бывают?

      h3(id="ammunition") Амуниция #[a(href="#ammunition" class='anchor')]

      p Амуниция позволяет повысить урон соперникам при игре в режиме перестрелки.

      p Значение урона зависит от класса предмета. Амуниция обыкновенного класса увеличивает урон на 10%, особенного класса - на 20%, а высочайшего класса на 33%. Класс амунции выделяется цветом, их легко отличить.

      p Если предмет используется, около него в инвентаре будет отображаться зелёная галочка.

      p Амуницию можно «крафтить», то есть обменивать на предметы лучшего класса. Правила крафта таковы:

      ul 
        li вы отдаёте 10 предметов одного класса, а получаете 1 предмет более высокого класса (например, отдав в обмен десять синих предметов, вы получите один фиолетовый);
        li вам выпадет предмет одной из коллекций, откуда были предметы, отправленные в обмен. Например, если вы смешали при обмене амуницию из разных наборов (например, отправили три пердмета из набора Uno и семь предметов из набора Deux), то шансы между наборами будут пропорционально поделены (в примере выше шанс выпадения предмета из набора Uno будет 30%, из набора Deux — 70%);

      h3(id="cases") Кейсы и подарочные наборы #[a(href="#cases" class='anchor')]

      p Кейсы и подарочные наборы — это коробочки, в которых лежит случайный предмет (обычно это аммуниция или значок). Каждый набор имеет свой список предметов, которые из него могут выпасть.

      p Единственное отличие кейса от подарочного набора состоит в том, что подарочный набор открывается сам по себе, а для открытия кейса надо купить (или выменять у других игроков) ключ.

      p Через инвентарь вы можете открыть набор. Вы получите новый предмет, выпавший из набора, а контейнер пропадёт (и ключ тоже, если вы открывали кейс).

      h3(id="icon") Значок #[a(href="#icon" class='anchor')]

      p Суть значка в том, что его можно прицепить на профиль, и все посетители вашей страницы будут видеть его.

      p Значки можно крафтить по аналогии с аммуницией — за десять значков одного класса вы получите один значок лучшего класса. Отправить в крафт значки, которые не имеют лучшего по классу значка в своей коллекции, нельзя.

      