extends /layouts/two_column_3_9

block head
  link(href="/css/chat.css" rel="stylesheet")
block main
  include /includes/lobbi/chat
  include /includes/lobbi/games


block aside
  include /includes/lobbi/friends_online

block scripts 
  include /includes/lobbi/lobbi-tmpl
  script(src="/js/lobbi/base.js")
  script(src="/js/lobbi/lobbi.js")
  script(src="/js/lobbi/game.js")
