extends /layouts/two_column_3_9

block head
  link(href="/css/lobbi/chat.css?v=1.1" rel="stylesheet")
  link(href="/css/lobbi/game.css?v=1.1" rel="stylesheet")
  link(href="/css/lobbi/form.css" rel="stylesheet")

block main
  include /includes/lobbi/loader

  include /includes/lobbi/chat
  include /includes/lobbi/games

  if currentAccount 
    include /includes/lobbi/claim-form


block aside
  include /includes/lobbi/friends_online
  include /includes/lobbi/top

block scripts 
  include /includes/lobbi/lobbi-tmpl
  script(src="/js/lobbi/base.js")
  script(src="/js/lobbi/lobbi.js?v=1.3")
  script(src="/js/lobbi/game.js?v=1.5")
  if currentAccount && currentAccount.role == 1
    script(src="/js/lobbi/moder.js")
