extends ../layouts/two_column_9_3

block article 
  div(class="block mb-5")
    article
      h1 О платежах
      p Администрация Сайта mafia-one.com предоставляет Пользователям право проводить платежи в пользу Сайта. Платежи являются добровольными и необязательными.

      p Администрация Сайта предоставляет Пользователям Сайта следующие типы платежей:

      p #[b "Пополнение баланса"]. В результате проведения платежа Пользователь Сайта получает на свой персональный счет, привязанный аккаунту Пользователя, определённое количество внутренней валюты сайта. После зачисления внутренней валюты услуга считается оказанной.

      p Внутренняя валюта сайта выполняет функцию универсальной условной единицы, которую пользователь может обменять на внутриигровые предметы как у Администрации Сайта, так и у других пользователей.

      p Возврат платежа может быть оформлен только тем же способом и на тот же счёт/карту/аккаунт (в зависимости от способа платежа) в случае неоказания или некачественного оказания услуги, которым признаётся задержка оказания услуги на срок более 48 часов, не связанная с техническими проблемами третьих сторон (включая, платёжные шлюзы и провайдеров платежей, но не ограничиваясь ими).

      p Все претензии по оказанию услуг и/или проведению платежей Пользователь может направить по адресу электронной почты vzangi@yandex.ru.

      h3 Дополнительная информация

      p При совершении платежей со счёта мобильных операторов (Мегафон, МТС, Билайн, Йота, Теле2) оператор может взимать комиссию в соответствии с тарифным планом. Максимальная сумма пополнения — 5 000 российских рублей. 