extends ../layouts/two_column_9_3

block article 
  div(class="block mb-5")
    article
      h1 Ранги
      p Система рангов создана, чтобы определять уровень игрока, уровень его игры и подбирать примерно равных соперников, чтобы игра была интереснее.

      p Система рангов работает только в #[b соревновательном режиме].

      h2 Какие ранги есть?

      p Наша система рангов, как и во многих других играх, основана на MMR — Matchmaking Rank, ранг матчмейкинга. Это число в диапазоне от 0 до 5000, и чем выше ваш уровень игры, тем выше будет ваш MMR.

      img(src="/images/ranks.jpg" alt="Ранги" style="float: right; max-width: 300px")
      
      p Кроме этого, имеются и значки рангов — их список находится на картинке справа.
      
      p Шесть рангов зависят только от вашего MMR. Как только вы переходите границу рангов по MMR, вы получаете новый значок. Эти обозначения сделаны для удобства восприятия рангов целыми категориями без размышлений над числами.

      p Самый главный ранг — Топ-5 — выдаётся пяти игрокам с самым большим MMR на сайте.

      h2 Как получить ранг?

      p Для того, чтобы увидеть ваш ранг, вам нужно просто пройти калибровку — сыграть 10 игр.

      p Если вы не играли в соревновательном режиме две недели, ваш ранг скрывается. Чтобы он снова стал видимым, вам надо будет сыграть хотя бы один матч.

      h2 Как меняется ранг?

      p Точные формулы расчёта изменения MMR мы не раскрываем, потому что они будут постоянно меняться и совершенствоваться. Но мы можем сказать, что:

      ul
        li победитель матча получает повышение в ранге, проигравшие — понижение;
        li победитель получает X очков MMR, при этом проигравшие понижаются в сумме на точно такую же сумму MMR;
        li за выход из соревновательной игры по таймеру ранг понижается;

      p Система учитывает ранги ваших соперников: победы над сильными соперниками дадут вам больше MMR, а поражения от слабых соперников больше отнимут. 