extends ../layouts/two_column_9_3

prepend content
  include ../includes/wallet/adjunction
  include ../includes/wallet/wallet_form

block article 
  div(class="block mb-5")
    article
      p История транзакций
      hr 

block scripts 
  script(src="/js/wallet.js")