div(class="block p-4 mb-4")
  div(class="offer d-flex flex-column")

    div(class="my-things")

      div(class="d-flex mb-3")
        div(class="d-flex flex-column align-items-center justify-content-center me-2")
          div(class="icon bg-danger")
            span(class="bi-box-arrow-in-right")
        div(class="d-flex flex-column")
          span Ваши предметы
          small(class="text-secondary") Эти предметы вы утратите

      div(class="no-one text-center") Вы не предложили ни одного предмета
      div(class="things-list" data-id=currentAccount.id)

    div(class="bi bi-arrow-down-up text-center fs-4 text-secondary mt-2 mb-2")


    div(class="vizavi-things offer-things") 
      div(class="d-flex mb-3")
        div(class="d-flex flex-column align-items-center justify-content-center me-2")
          div(class="icon bg-success")
            span(class="bi-box-arrow-in-left")
        div(class="d-flex flex-column")
          span Предметы #[strong= vizavi.username]
          small(class="text-secondary") Эти предметы вы получите

      div(class="no-one text-center") Вы не запросил ни одного предмета
      div(class="things-list" data-id=vizavi.id)