div(class="block p-4")
    div(class="offer d-flex flex-column")
        div(class="my-things") my
        div(class="ion-arrow-swap text-center fs-1 text-secondary")
        div(class="vizavi-things") vizavi
