extends /layouts/two_column_3_9

block main
  h1 
    a(href="/market/admin")
      span(class="bi-chevron-left fs-2")
    span(class="ms-2") Типы предметов
  form(method="post" action="/market/types/create")
    table(class="table mt-4 mb-4")
      thead 
        tr
          th id 
          th Название 
          th Сортировка
          th 
      tbody 
        each item in types
          tr
            td= item.id
            td= item.name
            td= item.sort
            td(class="text-end")
              a(class="btn btn-sm btn-primary bi-pencil" href="/market/types/"+item.id title="Редактировать") 
        tr  
          td 
          td 
            input(type="text" name="name" class="form-control" placeholder="Название нового типа" required)        
          td 
            input(type="number" value="0" name="sort" class="form-control" placeholder="Сортировка")
          td(class="text-end")
            button(type="submit" class="btn btn-success btn-sm bi-plus" title="Добавить тип") 

block aside
  include /includes/admin/market/menu