extends /layouts/two_column_3_9

block main
  h1 
    a(href="/gift/groups")
      span(class="ion-chevron-left fs-2")
    span(class="ms-2") Редактирование группы

  div(class="block p-4 mt-4 mb-4")
    form(method="post" action="/gift/group/edit")
      input(type="hidden" name="id" value=group.id)
      div(class="mb-3")
        label(class="form-label") Название
        input(type="text" name="name" value=group.name class="form-control")
      div(class="mb-3")
        label(class="form-label") Сортировка
        input(type="number" name="sort" value=group.sort class="form-control")
      div(class="mb-3")
        if group.active == 0
          input(class="form-check-input" type="checkbox" value="on" id="active" name="active")
        if group.active == 1
          input(class="form-check-input" type="checkbox" value="on" id="active" name="active" checked)
        label(class="form-check-label ms-1" for="active") Активно
      button(type="submit" class="btn btn-primary") Изменить

  h2 Добавить открытку в группу

  div(class="block p-4 mb-4")
    form(method="post" action="/gift/create" enctype="multipart/form-data")
      input(type="hidden" name="giftgroupId" value=group.id)
      div(class="mb-3")
        label Цена
        input(class="form-control" type="number" name="price" value="15" required)
      div(class="mb-3")
        input(class="form-check-input" type="checkbox" value="on" id="vip" name="isVip")
        label(class="form-check-label ms-1" for="vip") Вип открытка
      div(class="mb-3")
        input(class="form-control" type="file" name="file" required)
      button(type="submit" class="btn btn-success") Добавить открытку