h1 Меню
div(class="block p-4 mt-4 mb-4")
    a(class="btn btn-primary w-100" href="/market/things") Предметы
    hr
    a(class="btn btn-success mb-2 w-100" href="/market/types") Типы предметов
    a(class="btn btn-success mb-2 w-100" href="/market/classes") Классы предметов
    a(class="btn btn-success mb-2 w-100" href="/market/collections") Коллекции предметов