include ../switch_mixin

div(class="chat-box mb-4")

  div(class="chat-header")
    span(class="fs-4 me-3") Чат
    span(class="online-user-count-box me-auto") 
      a(href="/online" class="user-online-box") #[span(class="user-online") ] сейчас онлайн
    div(class="chat-settings ms-3 d-flex align-items-center")
      span(class="bi bi-gear gear" title="настройки чата")
      div(class="chat-settings-box")
        +settings_item("Расширенный&nbsp;чат", "chat-whide")
        +settings_item("Зафиксировать&nbsp;чат", "chat-fix")
        div(class='color-shemes-box')
          div(class="color-shemes-title") Цветовая схема
          div(class="color-shemes-items")
            div(class="color-sheme dark active" data-color="dark" title="Темная") 
            div(class="color-sheme green" data-color="green" title="Зелёная") 
            div(class="color-sheme blue" data-color="blue" title="Синяя") 
            div(class="color-sheme white" data-color="white" title="Светлая") 
          div(class="color-shemes-title") Размер шрифта
          div(class="font-size-items")
            div(class="font-size big" data-font="font-18" title="Крупный") 
              include ../text_icon
            div(class="font-size normal" data-font="font-16" title="Средний") 
              include ../text_icon
            div(class="font-size small" data-font="font-14" title="Мелкий") 
              include ../text_icon

      span(class="bi bi-arrows-fullscreen expand ms-2" title="на всё окно")

  div(class="chat")  
    div(class="loader")
      //- img(src="/images/loading" + (Math.floor(Math.random()*5) + 1) +".gif" alt="loading")

  div(class="typing-box") 

  if (currentAccount)
    -var isMuted = false 
    if (currentAccount.punishments && currentAccount.punishments.length != 0)
      -isMuted = currentAccount.punishments.filter(p => p.type == 1).length != 0


    div(class="input-box") 

      if (!isMuted)
        input(type="text" maxlength=255 placeholder="Введите сообщение и нажмите Enter" name="chat-input" id="chat-input" autocomplete="off")
        div(class="smiles" style="background-image: url(/images/eHehe.svg)") 
        div(class="all-smiles" style="display:none") 
          div(class="all-smiles-title mb-1") Смайлы
          div(class="all-smiles-items")
            each smile in smiles
              img(src="/images/e"+ smile +".svg" alt=`~${smile}`)     

      else 
        -var until = currentAccount.punishments.filter(p => p.type == 1)[0].untilAt
        -until = until.toLocaleString('ru-RU', { month: 'long', day: 'numeric' }) + ' ' + until.toLocaleTimeString('ru-Ru').substr(0, 5)
        div(class="muted p-1 ps-2 pe-2")
          span(class="bi-exclamation-octagon") 
          span Вам запрещено писать сообщения до 
          span= until

