div(class="modal fade" id="claimForm" tabindex="-1")
  div(class="modal-dialog modal-dialog-centered")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title") Жалоба
        button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть")

      div(class="modal-body")
        p 
          span Укажите причину, по которой вы собиретесь подать жалобу на 
          b(class="claim-user-name")

        div(class="mb-3")
          label Причина жалобы
          select(class="form-control claim-type")
            option(value='1') Мат
            option(value='2') Флуд
            option(value='3') Оскорбление

        div(class="mb-3")
          label Контекст
          textarea(class="form-control claim-context")


      div(class="modal-footer")
        button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Отмена
        button(type="button" class="btn btn-primary btn-make-claim") Отправить