div(class="block mb-4")
    div(class="friends-online")
        h4 
            span Друзья онлайн 
            small(class='friends-cnt')
        form
            input(placeholder="Поиск по друзьям" type="text")
        div(class="friends-list pt-2")
            img(src="/images/loading.gif")