div(class="block mb-4 p-4")
    div(class="friends-online")
        h4(class="mb-2")
            span(class="text-secondary") Друзья онлайн 
            small(class='friends-cnt')
        input(placeholder="Поиск по друзьям" type="text")
        div(class="friends-list pt-2")
            img(src="/images/loading.gif")