mixin numberInput(name, min, max, defValue)
  div(class="number-input-box")
    button(class="btn btn-success btn-less")
      span(class="ion-chevron-left")
    div(class="form-control" data-min=min data-max=max id=name)= defValue
    button(class="btn btn-success btn-more")
      span(class="ion-chevron-right")

mixin gameFormRow(desc)
  div(class="mb-3")
    div(class="d-flex flex-column gap-1")
      label(class="text-secondary") 
        small= desc
      if block 
        block

div(class="modal fade" id="makeForm" tabindex="-1")
  div(class="modal-dialog modal-dialog-centered")
    div(class="modal-content")

      div(class="game-form")

        div(class="game-types-list")
          div(class="game-type-item game-type-1" data-id="1")
            h4 Классическая игра
            p Режим игры со стандартным набором ролей

          div(class="game-type-item game-type-2" data-id="2")
            h4 Перестрелка
            p Режим, в котором используются вещи из вашего арсенала

          div(class="game-type-item game-type-3" data-id="3")
            h4 Соревновательный
            p Игра, которая влияет на ваш ранг

          div(class="game-type-item game-type-4" data-id="4")
            h4 Мультиролевая игра
            p Режим игры с расширенным набором ролей

        div(class="game-settings-list")

          div(class="welkome-game flex-grow-1")
            div(class="d-flex flex-column justify-content-center align-items-center h-100 p-2 text-center")
              div(class="ion-ios-game-controller-b fs-1 text-secondary")
              h4(class="text-secondary") Выберите #[br] режим игры

          div(class="game-settings game-settings-1" data-id="1")
            div(class="settings-head d-flex align-items-center mb-3 mt-2")
              div 
                span(class="ion-chevron-left back gs-back")
              h5 Классическая игра

            p(class="text-secondary")
              small Роли доступные в этом режиме: #[b честный житель], #[b мафия], #[b комиссар], #[b сержант].

            +gameFormRow('Количество игроков (6 - 20 игроков)')
              +numberInput("gamePlayersCount-1", 3, 20, 7)

            +gameFormRow('Время на сбор (1 - 20 минут)')
              +numberInput("waitingTime-1", 1, 20, 10)

            +gameFormRow('')
              +settings_item('С добивами', 'mode-1', true)
                | 
                span(class="ion-ios-help-outline" title="В режиме с добивами в тюрьму отправляется игрок набравший наибольшее количество голосов за день" data-bs-toggle="tooltip" data-bs-placement="bottom" )

            +gameFormRow('Подпись к заявке')
              input(class="form-control" type="text" placeholder="Подпись к заявке" maxlength="69" id="gameDescription-1" name="gameDescription-1")

            div(class="text-center mt-4")
              button(type="button" class="btn btn-primary btn-sm btn-make-type-1" data-type="1" data-bs-dismiss="modal") Создать


          div(class="game-settings game-settings-2" data-id="2")
            div(class="settings-head d-flex align-items-center mb-3 mt-2")
              div 
                span(class="ion-chevron-left back gs-back")
              h5 Перестрелка

            p(class="text-secondary")
              small Роли доступные в этом режиме: #[b честный житель], #[b мафия], #[b комиссар], #[b сержант], #[b маньяк], #[b врач], #[b дитя].

            +gameFormRow('Количество игроков (6 - 20 игроков)')
              +numberInput("gamePlayersCount-2", 3, 20, 7)

            +gameFormRow('Время на сбор (1 - 20 минут)')
              +numberInput("waitingTime-2", 1, 20, 10)

            +gameFormRow('')
              +settings_item('Ждать все ходы', 'mode-2', true)
                | 
                span(class="ion-ios-help-outline" title="С этой опцией день будет завершаться, когда все игроки сделают ход" data-bs-toggle="tooltip" data-bs-placement="bottom" )

            +gameFormRow('Подпись к заявке')
              input(class="form-control" type="text" placeholder="Подпись к заявке" maxlength="69" id="gameDescription-2" name="gameDescription-2")

            div(class="text-center mt-4")
              button(type="button" class="btn btn-primary btn-sm btn-make-type-2" data-type="1" data-bs-dismiss="modal") Создать


          div(class="game-settings game-settings-3" data-id="3")
            div(class="settings-head d-flex align-items-center mb-3 mt-2")
              div 
                span(class="ion-chevron-left back gs-back")
              h5 Соревновательный

            p(class="text-secondary")
              small В этом режиме тип игры и набор ролей выбирается случайным образом и вы заранее не знаете с кем будете играть

            div(class="text-center mt-4")
              button(type="button" class="btn btn-primary btn-sm btn-make-type-3" data-type="1" data-bs-dismiss="modal") Играть


          div(class="game-settings game-settings-4" data-id="4")
            div(class="settings-head d-flex align-items-center mb-3 mt-2")
              div 
                span(class="ion-chevron-left back gs-back")
              h5 Мультиролевая игра

            p(class="text-secondary")
              small В этом режиме, кроме честных жителей и мафии в игре также могут присутствовать #[b маньяк], #[b дитя], #[b врач], #[b путана] и #[b адвокат].

            +gameFormRow('Количество игроков (9 - 20 игроков)')
              +numberInput("gamePlayersCount-4", 3, 20, 9)


            +gameFormRow('Время на сбор (1 - 20 минут)')
              +numberInput("waitingTime-4", 1, 20, 10)

            +gameFormRow('')
              +settings_item('С добивами', 'mode-4', true)
                | 
                span(class="ion-ios-help-outline" title="В режиме с добивами в тюрьму отправляется игрок набравший наибольшее количество голосов за день" data-bs-toggle="tooltip" data-bs-placement="bottom" )

            +gameFormRow('Подпись к заявке')
              input(class="form-control" type="text" placeholder="Подпись к заявке" maxlength="69" id="gameDescription-4" name="gameDescription-4")

            div(class="text-center mt-4")
              button(type="button" class="btn btn-primary btn-sm btn-make-type-4" data-type="4" data-bs-dismiss="modal") Создать
