include /includes/lobbi/make-game-form

div(class="block mb-4")
  div(class="games")
    div(class="games-head d-flex justify-content-between align-items-center p-4")
      h5(class="m-0") Ожидают игры
      button(class="btn btn-success btn-make-game") Создать заявку
