div(class="modal fade" id="makeForm" tabindex="-1" data-bs-backdrop="static" data-id="${id}")
  div(class="modal-dialog modal-dialog-centered")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title") Создать заявку
        button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть")

      div(class="modal-body")
        div(class="container-fluid")
          div(class="mb-3")
            label(class="text-secondary") 
              small Выберите режим
            select(class="form-control" id="gameType" name="gameType" required)
              option(value="1") Классический
              option(value="2") Перестрелка
              option(value="3") Соревновательный
              option(value="4") Мультирежим

          div(class="mb-3")
            label(class="text-secondary") 
              small Время на сбор
            input(class="form-control" type="number" placeholder="Время на сбор" min="1" max="20" value="20" id="waitingTime" name="waitingTime" required)

          div(class="mb-3")
            label(class="text-secondary") 
              small Количество игроков
            input(class="form-control" type="number" placeholder="Количество игроков" min="6" max="20" value="7" id="gamePlayersCount" name="gamePlayersCount" required)

          div(class="mb-3")
            label(class="text-secondary") 
              small Подпись к заявке
            input(class="form-control" type="text" placeholder="Подпись к заявке" maxlength="69" id="gameDescription" name="gameDescription")


      div(class="modal-footer")
        button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Отмена
        button(type="button" class="btn btn-primary btn-create" data-bs-dismiss="modal") Создать