include ../new-profile/top

div(class="container")
  div(class="row")

    div(class="col-md-9") 
      h4 Статистика

      include /includes/profile/statistics/base

      include /includes/profile/statistics/roles

      if currentAccount && currentAccount.vip
        include /includes/profile/statistics/facts

        include /includes/profile/statistics/actions

    div(class="col-md-3") 
      include ../statistics/period