extends /layouts/two_column_9_3

block head 
    link(rel="stylesheet" href="/css/profile/profile.css")
    link(rel="stylesheet" href="/css/profile/inventory.css")
    link(rel="stylesheet" href="/css/trades.css")

block aside 
    include /includes/trades/history/menu

block article
    h3 История обменов
    div(class="history list-trade-item mt-3")

block scripts 
    include /includes/trades/status-tmpl
    include /includes/trades/trade-tmpl
    script(src="/js/trades/history.js")