extends /layouts/two_column_9_3

block head 
    link(rel="stylesheet" href="/css/profile.css")
    link(rel="stylesheet" href="/css/inventory.css")
    link(rel="stylesheet" href="/css/trades.css")
    link(rel="stylesheet" href="/css/trades/list.css")

block aside 
    include /includes/trades/list/menu

block article
    h3 Предложения обмена
    include /includes/trades/list/offers


block scripts 
