extends /layouts/two_column_9_3

block head 
    link(rel="stylesheet" href="/css/profile/profile.css")
    link(rel="stylesheet" href="/css/profile/inventory.css")
    link(rel="stylesheet" href="/css/trades.css?v=1.0")

block aside 
    - const menu = 1
    include /includes/trades/menu

block article
    h3 Предложения обмена
    include /includes/trades/list/offers

block scripts 
    include /includes/trades/status-tmpl
    script(src="/js/trades/list.js")