extends /layouts/two_column_9_3

block head 
    link(rel="stylesheet" href="/css/trades.css")

block aside 
    include /includes/trades/new/vizavi

block article
    h3 Новый обмен

    include /includes/trades/new/offer


block scripts 
