extends /layouts/two_column_9_3

block head 
    link(rel="stylesheet" href="/css/profile/profile.css")
    link(rel="stylesheet" href="/css/profile/inventory.css")
    link(rel="stylesheet" href="/css/trades.css")
    link(rel="stylesheet" href="/css/trades/list.css")

block aside 
    include /includes/trades/sended/menu

block article
    h3 Отправленные предложения
    div(class="sended-list mt-3")

block scripts 
    include /includes/trades/status-tmpl
    include /includes/trades/sended-trade-tmpl
    script(src="/js/trades/sended.js")