:root {
	--color-bg: #333;
	--color-bg-light: #444;
	--color-bg-player: #777;
	--color-bg-player-hover: #666;
}

body {
	color: var(--color-white);
	background-color: var(--color-bg-light);
	overflow-x: hidden;
	transition: background-color 0.3s ease;
}
body.night {
	background-color: #111;
}
body.dawn,
body.twilight {
	background-color: #133;
}

header {
	background: var(--color-bg);
	box-shadow: 0 0 10px #333;
	position: fixed;
	z-index: 1;
}
header,
.header-shadow {
	width: 100%;
	height: 40px;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-black);
	z-index: 10;
	transition: all 0.3s ease;
}

.game-status-3 .role-name,
.game-status-3 .role-icon {
	display: none;
}

.d-hidden {
	display: none !important;
}

/*.players-list {
   display: flex;
  flex-wrap: wrap; 
}*/

.players-list > div {
	flex: 0 1 100%;
}

.player {
	background-color: var(--color-bg-player);
	border-radius: var(--border-radius);
	box-shadow: 0 0 10px var(--color-bg) inset;
	transition: all 0.3s ease;
}

.player:hover {
	background-color: var(--color-bg-player-hover);
	box-shadow: 0 0 5px var(--color-bg) inset;
}

.friend-avatar.online:after {
	border-color: var(--color-bg-player);
}

.player.role-1,
.player.role-5,
.player.role-7 {
	background-color: var(--color-class-2);
}
.player.role-1 .friend-avatar.online:after,
.player.role-5 .friend-avatar.online:after,
.player.role-7 .friend-avatar.online:after {
	border-color: var(--color-class-2);
}

.player.role-2,
.player.role-8,
.player.role-9 {
	background-color: var(--color-class-4);
}

.player.role-2 .friend-avatar.online:after,
.player.role-8 .friend-avatar.online:after,
.player.role-9 .friend-avatar.online:after {
	border-color: var(--color-class-4);
}

.player.role-6 {
	background-color: #ff8606;
}
.player.role-6 .friend-avatar.online:after {
	border-color: #ff8606;
}

.player.role-3,
.player.role-4 {
	background-color: var(--color-class-3);
}
.player.role-3 .friend-avatar.online:after,
.player.role-4 .friend-avatar.online:after {
	border-color: var(--color-class-3);
}

.friend-info .username,
.friend-info .role {
	text-wrap: nowrap;
	white-space: -moz-pre-space;
	text-overflow: ellipsis;
	overflow: hidden;
	color: inherit;
	text-decoration: none;
}

.player .username:hover {
	text-decoration: underline;
	cursor: pointer;
}

@media (min-width: 420px) {
	.players-list > div {
		/* flex: 0 1 50%;
    max-width: 50%; */
		max-width: 500px;
	}
}

.mw-50 {
	min-width: 50px;
}

.player-status-4 .friend-avatar:before,
.player-status-5 .friend-avatar:before,
.player-status-6 .friend-avatar:before {
	content: ' ';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 100px;
	background-color: rgba(0, 0, 0, 0.1);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/* 
    Игрок убит
*/
.player-status-4 .friend-avatar:before {
	background-color: rgba(200, 50, 50, 0.5);
	background-image: url(/images/killed.png);
}

/* 
    Игрок в тюрьме
*/
.player-status-5 .friend-avatar:before {
	background-image: url(/images/jail.png);
}

/* 
    Игрок вышел по таймауту
*/
.player-status-6 .friend-avatar:before {
	background-image: url(/images/timer.png);
	background-color: rgba(250, 250, 250, 0.5);
}

.player.player-status-4 .username,
.player.player-status-5 .username,
.player.player-status-6 .username {
	text-decoration: line-through;
}

.friend-item {
	position: relative;
	cursor: initial;
}

.vote-dot,
.doc-dot,
.prova-dot,
.kill-dot {
	position: absolute;
	top: 50%;
	right: -50px;
	width: 40px;
	height: 40px;
	background: var(--color-white);
	border-radius: 40px;
	margin-top: -20px;
	box-shadow: 0 0 5px #111 inset;
	transition: all 0.3s ease;
	opacity: 0;
	cursor: pointer;
}

.iam .vote-dot {
	cursor: initial;
}

.night .kill-dot,
.night .doc-dot,
.twilight .prova-dot,
.voting .vote-dot {
	opacity: 1;
	right: 15px;
}

.night .out .kill-dot,
.night .out .doc-dot,
.twilight .out .prova-dot,
.voting .out .vote-dot {
	display: none;
}

.vote-cnt {
	color: #555;
	font-weight: bold;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.kill-dot.checked {
	background-color: var(--color-class-4);
}

.doc-dot.checked {
	background-color: #55d;
}

.prova-dot.checked {
	background-color: #153;
}

.modal-body {
	color: #333;
}

.black-form .modal-dialog,
#roleForm .modal-dialog {
	max-width: 300px;
	margin: auto;
}
.rolePicture img {
	width: 200px;
	margin: auto;
	display: block;
}

.black-form .modal-content,
#roleForm .modal-content {
	background-color: #333;
}

.black-form .modal-body,
#roleForm .modal-body {
	background-color: #444;
	color: #aaa;
}

.black-form .modal-header,
#roleForm .modal-header {
	border-bottom-color: #555;
}

.black-form .modal-title,
#roleForm .modal-title {
	color: #666;
	opacity: 0.9;
	text-shadow: 0 0 4px #222;
}

.black-form .modal-footer,
#roleForm .modal-footer {
	border-top-color: #555;
}

.black-form .roleName,
#roleForm .roleName {
	color: #bbb;
	text-transform: uppercase;
	font-family: monospace;
	text-align: center;
}

.black-form .form-check span,
#roleForm .form-check span {
	color: #777;
}

.role-icon img {
	width: 40px;
	cursor: pointer;
	padding: 5px;
}

.show-claim-form {
	opacity: 0.5;
	cursor: pointer;
}

.show-claim-form:hover {
	opacity: 1;
}

.iam .claim-btn-box {
	display: none !important;
}

.message-box:not(.system-message) .m-time:hover:before {
	content: '\F337';
	display: inline-block;
	font-family: 'bootstrap-icons';
	margin-right: 4px;
	cursor: pointer;
}

.kill-dot.checked:before {
	content: '\F769';
	font-family: 'bootstrap-icons';
	font-size: 2em;
	color: #fff;
	position: absolute;
	top: -4px;
	left: 4px;
	opacity: 0.7;
}
