div(class="block mb-4 pb-2")
  div(class="p-4 pb-2")
    h4 Обмены

  ul(class="aside-menu")
    li 
      a(href="/trades") Входящие
    li 
      a(href="/trades/sended" class="active") Отправленные
    li 
      a(href="/trades/history") История