extends /layouts/two_column_9_3

block article 
	div(class="block mb-5")
		article
			h1 Классический режим

			p Количество участников в игре от 6 до 21. Доступные роли: #[a(href="/roles#mafia" class="text-dark") мафия], #[a(href="/roles#citizen" class="text-dark") честный житель], #[a(href="/roles#commissar" class="text-dark") комиссар] и #[a(href="/roles#sergeant" class="text-dark") сержант]. Данный режим больше всего близок к классической версии традиционной мафии.

			h4 Состав ролей

			p Наличие и состав ролей в партии будет разниться в зависимости от количества игроков, участвующих в ней.

			ul 
				li В партиях от 6 до 11 человек:
					ul 
						li 2 мафии
						li 1 комиссар

				li В партиях от 12 до 17 человек:
					ul 
						li 3 мафии
						li 1 комиссар
						li 1 сержант

				li В партиях от 18 человек:
					ul 
						li 4 мафии
						li 1 комиссар
						li 1 сержант

			h2 Порядок игры

			h5 Знакомство
			p Партия начинается с двухминутного знакомства игроков. 

			h5 День
			p Затем наступает «день», на который также отводится две минуты. Игроки голосуют против тех, кого они считают мафией. Если ни один из игроков не набирает большинство голосов - наступает следующий «день» и участники вновь голосуют. Если же один из игроков набирает большинство голосов, он отправляется «в тюрьму» и на этом игра для него заканчивается. 

			h5 Ход комиссара
			p Следующим этапом идёт ход комиссара (если перед этим он не был отправлен «в тюрьму»). Комиссар выбирает одного из игроков, чтобы узнать его роль. На этот выбор ему также даётся две минуты.

			h5 Ночь
			p На этом этапе мафии даётся две минуты, чтобы договориться, которого они хотят «убить». Для этого они могут использовать приватный чат. При этом все мафиози должны выстрелить в одного и того же игрока, иначе им будет засчитан «промах» и игрок не умрёт. Если мафия «убивает» игрока, то игра для него на этом заканчивается. 

			h5 Переход
			p После ночи следует так называемый «переход» - трёхсекундный промежуток, в который комиссар или сержант может огласить проверку (при необходимости). Так же, после перехода, становиться известным, какой игрок был убит мафией.

			p Далее снова следует «день» и весь описанный ранее цикл повторяется.

			h5 Конец игры
			p Игра идёт до тех пор, пока вся мафия не окажется «в тюрьме», либо пока в игре не останется ни одного игрока команды «честных горожан».