extends /layouts/two_column_9_3

block article 
  div(class="block mb-5")
    article
      h1 Соревновательный режим

      p Этот режим мы придумали специально для тех, кто хочет не просто сыграть в мафию, а поучаствовать в кибер-соревновании, стать лучшим игроком недели и получить возможность разделить призовой фонд #[a(href="top-of-week") «Топа недели»].

      p В этом режиме игроку предоставляется на выбор несколько готовых вариантов партий, в которых он может принять участие. Выбирая как минимум два из предложенных варианта, игрок становится в очередь на игру и получает право сыграть с другими игроками которые выберут тот же вариант, что и он. При этом заранее не известно кто и с кем будет играть — этот выбор система делает сама, основываясь на #[a(href="/ranks") рангах] игроков.

      p Количество участников в игре может варьироваться от 7 до 18 человек, в зависимости от того какие режимы будут предложены системой. В игре могут выпасть любая из #[a(href="/roles") ролей] присутствующая на сайте. 

      h4 Состав ролей

      p Наличие и состав ролей в партии будет разниться в зависимости от того какой режим будет выбран системой. 

      br

      h3 Примечание

      p Соревновательный режим — это единственный режим влияющий на ранг игрока. Победа в такой игре увеличит ранг игрока, а проигрыш — уменьшит. Если игрок выйдет в тайм, то независимо от результата игры его ранг будет понижен.

block aside
  include /includes/blog-menu
  +blog_menu('competitive')
