extends /layouts/two_column_9_3

block article 
  div(class="block mb-5")
    article
      h1 Режим конструктора

      p Количество участников в игре от 3 до 21. Доступные роли: #[a(href="/roles#mafia" class="text-dark text-decoration-none") мафия], #[a(href="/roles#citizen" class="text-dark text-decoration-none") честный житель], #[a(href="/roles#commissar" class="text-dark text-decoration-none") комиссар], #[a(href="/roles#sergeant" class="text-dark text-decoration-none") сержант], #[a(href="/roles#child" class="text-dark text-decoration-none") дитя], #[a(href="/roles#maniac" class="text-dark text-decoration-none") маньяк], #[a(href="/roles#doctor" class="text-dark text-decoration-none") врач], #[a(href="/roles#lawyer" class="text-dark text-decoration-none") адвокат] и #[a(href="/roles#paramour" class="text-dark text-decoration-none") любовница]. Создавать партии в этом режиме могут только игроки с #[a(href="/vip") VIP-статусом].

      h4 Состав ролей

      p Наличие и состав ролей в партии зависит от пожеланий создателя. Однако, при создании заявки, имеются следующие ограничения:
      ul 
        li В партии должна быть хотя бы одина мафия;
        li Сержант не может быть в партии без комиссара;
        li Суммарное количество ролевых игроков в партии не может быть больше выбранного допустимого количества игроков.


      h2 Этапы игры

      h5 Знакомство
      p Партия начинается с двухминутного знакомства игроков. 

      h5 День
      p Затем наступает «день», на который также отводится две минуты. Игроки голосуют против тех, кого они считают мафией. Если ни один из игроков не набирает большинство голосов — наступает следующий «день» и участники вновь голосуют. Если же один из игроков набирает большинство голосов, он отправляется «в тюрьму» и на этом игра для него заканчивается. 

      h5 Ход комиссара
      p Следующим этапом идёт ход комиссара (если он есть в партии и перед этим не был отправлен «в тюрьму»). Комиссар выбирает одного из игроков, чтобы узнать его роль. На этот выбор ему также даётся две минуты.

      h5 Ночь
      p На этом этапе мафии даётся две минуты, чтобы договориться, кого они хотят «убить». Для этого они могут использовать приватный чат. При этом все мафиози должны выстрелить в одного и того же игрока, иначе им будет засчитан «промах» и игрок не умрёт. Если мафия «убивает» игрока, то игра для него на этом заканчивается. 

      p Так же свой ночной ход в это время делают врач, любовница, адвокат и маньяк (если они присутсвуют в игре). Они должны сделать свой ход до того как все мафиози сделают свой, так как ночь завершается с последним выстрелом мафии.

      h5 Переход
      p После ночи следует так называемый «переход» — трёхсекундный промежуток, в который комиссар или сержант может огласить проверку (при необходимости). Так же, после перехода, становиться известным, какой игрок был убит мафией.

      p Далее снова следует «день» и весь описанный ранее цикл повторяется.

      h5 Конец игры
      p Игра идёт до тех пор, пока вся мафия не выйдет из игры, либо пока в игре не останется ни одного игрока команды «честных горожан» и маньяка, либо пока кроме маньяка в игре никого не останется.

      br

      h3 Примечание

      p Игры в режиме конструктора никак не влияют на персональную статистику игроков.

block aside
  include /includes/blog-menu
  +blog_menu('constructor')
