extends /layouts/two_column_9_3

block article 
  div(class="block mb-5")
    article
      h1 О нарушениях
      p Для поддержания здоровой и дружелюбной атмосферы в игре были разработаны эти правила. Они не являются ни документом, ни исчерпывающим описанием действий, которые не одобряются сообществом и администрацией. Эти правила применяются администрацией в рамках их адекватного понимания.

      p Незнание этих правил не является ни смягчающим обстоятельством, ни поводом для отмены наказания.

      h2 1. Грубые нарушения

      h4 1.1. Помощь дополнительными аккаунтами

      p Запрещено помогать себе в игре дополнительными аккаунтами с любыми целями.
      p При нарушении этого пункта правил основной аккаунт наказывается #[a(href="/bans#mfp") блокировкой MFP], а аккаунт-бот наказывается #[a(href="/bans#global") глобальной блокировкой].

      h2 2. Общие нарушения

      h4 2.1. Затягивание игры

      p Затягиванием игры признаётся намеренное бездействие игрока в течение отсчёта таймером времени на ход.

      p При нарушении этого пункта правил игрок наказывается #[a(href="/bans#mfp") блокировкой MFP].

      h4 2.2. Оскорбления и некорректное общение

      p Оскорблениями признаются сообщения в игровом чате, которые нацелены на унижение другого человека. Оскорбительные в общем контексте фразы не наказываются, если это не обижает других игроков (например, в дружеской компании).

      p При нарушении этого пункта правил игрок наказывается мутом в игровом чате.

      h4 2.3. Договорные игры

      p Договорными признаются игры, в которых один или несколько игроков своими действиями и/или бездействием наносят себе ущерб с точки зрения игрового процесса, помогая какому-либо игроку победить.

      p Договорной игра признаётся по факту игровых действий — даже при отсутствии изначальной договорённости между игроками.

      p При нарушении этого пункта правил все причастные игроки наказываются #[a(href="/bans#mfp") блокировкой MFP] либо #[a(href="/bans#global") глобальной блокировкой] с отменой всех таких игр.

      h2 3. Особые ситуации

      p 3.1. При большом количестве нарушений, а так же при особо грубых и циничных нарушениях к аккаунту может быть применена #[a(href="/bans#global") глобальная блокировка] вне зависимости от того, какое наказание описано в выше находящихся пунктах.

      p 3.2. Наказание может быть распространено на все аккаунты игрока, даже если другие аккаунты не участвовали в нарушениях.