extends /layouts/two_column_9_3

block article 
  div(class="block mb-5")
    article
      h1 Мультиролевой режим

      p Количество участников в игре от 6 до 21. Доступные роли: #[a(href="/roles#mafia" class="text-dark") мафия], #[a(href="/roles#citizen" class="text-dark") честный житель], #[a(href="/roles#commissar" class="text-dark") комиссар], #[a(href="/roles#sergeant" class="text-dark") сержант], #[a(href="/roles#child" class="text-dark") дитя], #[a(href="/roles#maniac" class="text-dark") маньяк], #[a(href="/roles#doctor" class="text-dark") врач], #[a(href="/roles#lawyer" class="text-dark") адвокат] и #[a(href="/roles#paramour" class="text-dark") любовница]. 

      h4 Состав ролей

      p Наличие и состав ролей в партии будет разниться в зависимости от количества игроков, участвующих в ней.

      ul 
        li В партиях от 6 до 11 человек:
          ul 
            li 2 мафии
            li комиссар
            li дитя
            li маньяк

        li В партиях от 12 до 17 человек:
          ul 
            li 3 мафии
            li комиссар
            li сержант
            li дитя
            li маньяк
            li врач
            li адвокат

        li В партиях от 18 человек:
          ul 
            li 4 мафии
            li комиссар
            li сержант
            li дитя
            li маньяк
            li врач
            li адвокат
            li любовница

      h2 Этапы игры

      h5 Знакомство
      p Партия начинается с двухминутного знакомства игроков. 

      h5 День
      p Затем наступает «день», на который также отводится две минуты. Игроки голосуют против тех, кого они считают мафией. Если ни один из игроков не набирает большинство голосов - наступает следующий «день» и участники вновь голосуют. Если же один из игроков набирает большинство голосов, он отправляется «в тюрьму» и на этом игра для него заканчивается. 

      h5 Ход комиссара
      p Следующим этапом идёт ход комиссара (если перед этим он не был отправлен «в тюрьму»). Комиссар выбирает одного из игроков, чтобы узнать его роль. На этот выбор ему также даётся две минуты.

      h5 Ночь
      p На этом этапе мафии даётся две минуты, чтобы договориться, кого они хотят «убить». Для этого они могут использовать приватный чат. При этом все мафиози должны выстрелить в одного и того же игрока, иначе им будет засчитан «промах» и игрок не умрёт. Если мафия «убивает» игрока, то игра для него на этом заканчивается. 

      p Так же свой ночной ход в это время делают врач, любовница, адвокат и маньяк (если они присутсвуют в игре). Они должны сделать свой ход до того как все мафиози сделают свой, так как ночь завершается с последним выстрелом мафии.

      h5 Переход
      p После ночи следует так называемый «переход» - трёхсекундный промежуток, в который комиссар или сержант может огласить проверку (при необходимости). Так же, после перехода, становиться известным, какой игрок был убит мафией.

      p Далее снова следует «день» и весь описанный ранее цикл повторяется.

      h5 Конец игры
      p Игра идёт до тех пор, пока вся мафия не выйдет из игры, либо пока в игре не останется ни одного игрока команды «честных горожан» и маньяка, либо пока кроме маньяка в игре никого не останется.