extends /layouts/two_column_9_3

block article 
  div(class="block mb-5")
    article
      h1 Игровые роли

      div(class="clearfix mb-4")
        p Ниже представлен список доступных в нашей игре ролей с кратким описанием. Некоторые из них присутсвуют во всех режимах игры, а некоторые можно увидеть только в определённых режимах.

      h4(id="mafia") Мафия #[a(href="#mafia" class='anchor')]

      div(class="clearfix mb-5")
        div(class="bg-dark float-start me-2")
          img(src="/images/rmafia.svg" width="120" title="Таким значком в игре обозначается мафия" data-bs-toggle="tooltip" data-bs-placement="bottom")
        p Для победы, играющим на стороне «Мафии», необходимо постепенно избавиться от всех игроков команды горожан. В задачу каждого мафиози входит убийство одного игрока ночью. При этом все мафиози должны выстрелить в одного и того же игрока, чтобы убить его (кроме режима «Перестрелка»). Роль мафиози присутсвует во всех режимах игры.


      h4(id="citizen") Честный житель #[a(href="#citizen" class='anchor')]
      div(class="clearfix mb-5")
        div(class="bg-dark float-start me-2")
          img(src="/images/rcitizen.svg" width="120" title="Таким значком в игре обозначается честный житель" data-bs-toggle="tooltip" data-bs-placement="bottom")
        p Самой распространённой и простой ролью в игре является роль честного жителя. Его задачей является выявление участников, играющих на стороне «Мафии». Честные жители не имеют никаких специальных способностей. Всё, что они могут делать, это обсуждать и голосовать против кого-либо днём. Роль честного жителя присутсвует во всех режимах игры.


      h4(id="commissar") Комиссар #[a(href="#commissar" class='anchor')]
      div(class="clearfix mb-5")
        div(class="bg-dark float-start me-2")
          img(src="/images/rcomissar.svg" width="120" title="Таким значком в игре обозначается комиссар" data-bs-toggle="tooltip" data-bs-placement="bottom")
        p Комиссар может проверять каждую ночь одного из игроков, определяя его роль. Его задача - вычислить всех представителей команды «Мафии», раньше чем они смогут перебить всех честных горожан. Роль комиссара может присутствовать во всех режимах игры.


      h4(id="sergeant") Сержант #[a(href="#sergeant" class='anchor')]
      div(class="clearfix mb-5")
        div(class="bg-dark float-start me-2")
          img(src="/images/rcomissar.svg" width="120" title="Таким значком в игре обозначается сержант" data-bs-toggle="tooltip" data-bs-placement="bottom")
        p Сержант является главным помощником комиссара. Ему доступны роли всех игроков, проверенных комиссаром. В случае гибели комиссара сержант занимает его место и уже сам совершает ночные проверки игроков. Роль сержанта может присутствовать во всех режимах игры.


      h4(id="doctor") Врач #[a(href="#doctor" class='anchor')]
      div(class="clearfix mb-5")
        div(class="bg-dark float-start me-2")
          img(src="/images/rdoc.svg" width="120" title="Таким значком в игре обозначается врач" data-bs-toggle="tooltip" data-bs-placement="bottom")
        p Врач каждую ночь может посетить одного игрока и спасти его жизнь в случае попытки его убийства мафией. Однако, он не может пытаться спасти самого себя. Роль врача может присутствовать в перестрелке, мультирежиме и режиме конструктора.


      h4(id="maniac") Маньяк #[a(href="#maniac" class='anchor')]
      div(class="clearfix mb-5")
        div(class="bg-dark float-start me-2")
          img(src="/images/rmaniac.svg" width="120" title="Таким значком в игре обозначается маньяк" data-bs-toggle="tooltip" data-bs-placement="bottom")
        p Маньяк - одна из самых противоречивых ролей в игре. Несмотря на плохую репутацию среди граждан города, маньяк может помочь мирным жителям, убивая членов мафии по ночам. Однако, пострадать от его действий могут также и честные граждане. Победить маньяк может только в том случае, если в живых кроме него не останется никого. Роль маньяка может присутствовать в перестрелке, мультирежиме и режиме конструктора.


      h4(id="child") Дитя #[a(href="#child" class='anchor')]
      div(class="clearfix mb-5")
        div(class="bg-dark float-start me-2 p-2")
          img(src="/images/rchild.svg" width="104" title="Таким значком в игре обозначается дитя" data-bs-toggle="tooltip" data-bs-placement="bottom")
        p Игрок команды честных жителей. Отличительной особенностью является то, что этого игрока команда бандитов не может убить ночью. Однако, сам игрок не знает о своей роли и видит её как «Честный житель». Дитя может присутствовать в перестрелке, мультирежиме и режиме конструктора.


      h4(id="lawyer") Адвокат #[a(href="#lawyer" class='anchor')]
      div(class="clearfix mb-5")
        div(class="bg-dark float-start me-2 p-2")
          img(src="/images/radvocate.svg" width="104" title="Таким значком в игре обозначается адвокат" data-bs-toggle="tooltip" data-bs-placement="bottom")
        p Адвокат игрет на стороне команды «Мафии», хоть и не знает их в начале игре. Каждую ночь он выбирает одного игока, выступая на его стороне, чтобы защитить его от посадки в тюрьму. Адвокат может присутствовать в мультирежиме и режиме конструктора.


      h4(id="paramour") Любовница #[a(href="#paramour" class='anchor')]
      div(class="clearfix mb-5")
        div(class="bg-dark float-start me-2")
          img(src="/images/rputana.svg" width="120" title="Таким значком в игре обозначается любовница" data-bs-toggle="tooltip" data-bs-placement="bottom")
        p Играет на стороне команды «Мафии», хоть и не знает их в начале игре. Задачей любовницы является завлечь ночью одного из игроков, при этом этот игрок лишается возможности писать в чат и голосовать до следующей ночи. Любовница может присутствовать в перестрелке, мультирежиме и режиме конструктора.
