extends /layouts/two_column_9_3

block article 
  div(class="block mb-5")
    article
      h1 Правила сайта
      p Редакция от 28 августа 2023 года 


      h2 1. Администрация сайта
      p 1.1. Администрацией Сайта Mafia One, расположенного по адресу https://mafia-one.com являются специально уполномоченные Пользователи Сайта (администраторы).
      p 1.2. Администрация управляет Сайтом исключительно по своему усмотрению.
      p 1.3. Администрация вправе отказать в любой момент любому Пользователю Сайта в полном или частичном предоставлении услуг Сайта по своему усмотрению, без объяснения причин и без выплаты каких-либо компенсаций.


      h2 2. Пользователь Сайта
      p 2.1. Пользователем Cайта является лицо, зарегистрировавшееся через установленную форму на Сайте и получившее уникальный идентификатор профиля.
      p 2.2. С момента получения уникального идентификатора профиля Пользователь получает привязанный к профилю персональный счет для внутриигровой валюты и персональный инвентарь для внутриигровых предметов.


      h4 2.3. Пользователю Cайта запрещается:
      p 2.3.1. Нарушать законодательство Российской Федерации;
      p 2.3.2. Использовать в качестве никнейма (имени профиля) ненормативную лексику или оскорбления, а так же любые слова или символы, вводящие в заблуждение других Пользователей сайта относительно принадлежности текущего Пользователя к Администрации;
      p 2.3.3. Загружать на Сайт изображения, разжигающие расовую, межнациональную, религиозную, гендерную или любую другу рознь, а так же изображения порнографического характера;
      p 2.3.4. Оскорблять, унижать или порочить честь или достоинство Пользователей сайта, Администрации, а так же любых других лиц;
      p 2.3.5. Использовать программные ошибки в коде Сайта для нарушения его работоспособности и/или получения преимуществ перед другими Пользователями Сайта;
      p 2.3.6. Выдавать себя за члена Администрации Сайта и/или создавать видимость причастности к Администрации Сайта с любыми целями;
      p 2.3.7. Передавать логин и/или пароль от своего аккаунта на Сайте другим пользователям;
      p 2.3.8. Использовать аккаунты на Сайте, которые не были созданы Пользователем.

      h4 2.4. Пользователь Cайта вправе:
      p 2.4.1. Использовать функционал Сайта в соответствии с его назначением;
      p 2.4.2. Приобретать внутриигровую валюту и осуществлять её обмен на внутриигровые предметы как напрямую у Администрации Сайта, так и у других Пользователей посредством использования Маркета. Платежи в пользу Сайта описаны на странице #[a(href="/payments") «О платежах»].

      h4 2.5. Пользователь Cайта обязуется:

      p 2.5.1. В случае несогласия с актуальной редакцией Правил Сайта уведомить об этом Администрацию Сайта в течение 3 (трёх) суток с момента вступления в силу редакции Правил Сайта, с которой Пользователь не согласен и не использовать более Сайт никаким образом.

      h4 2.6. Пользователь Сайта признаёт, что:
      p 2.6.1. данные, указанные им в профиле, не являются субъектом его персональных данных, поскольку Сайт не требует указания в качестве данных профиля личных данных;
      p 2.6.2. вся информация, сгенерированная Пользователем, является собственностью Сайта (например, история игр, обменов и/или покупок на Маркете и так далее);
      p 2.6.3. все действия, совершённые в его аккаунте или от имени его аккаунта были совершены самим Пользователем.


      h2 3. Статус Правил Сайта

      p 3.1. Правила Сайта могут быть изменены Администрацией в любой момент без какого-либо предварительного уведомления Пользователя Сайта.
      p 3.2. Правила Сайта вступают в силу с момента их опубликования в сети Интернет по адресу https://mafia-one.com/rules.
      p 3.3. Пользователь Сайта обязуется самостоятельно проверять наличие изменений или обновлений в Правилах Сайта. Продолжение использования Сайта после обновления Правил Сайта означает полное и безоговорочное согласие Пользователя с текущей редакцией Правил Сайта.


      h2 4. Ответственность при использовании Сайта

      p 4.1. Пользователи Сайта несут ответственность за собственные действия, связанные с созданием и размещением информации на любых разделах Сайта в соответствии с действующим законодательством Российской Федерации. Нарушение настоящих Правил и действующего законодательства Российской Федерации влечёт за собой ответственность.
      p 4.2. Администрация Сайта сохраняет за собой право в любой момент изменять внешний вид, оформление и/или функционал Сайта по своему усмотрению, изменять, дополнять или удалять любой контент, находящийся на Сайте, с предварительным уведомлением Пользователей Сайта или без такового.
      p 4.3. Администрация Сайта не проводит предварительной модерации информации, публикуемой Пользователями Сайта на любых разделах Сайта.
      p 4.3.1. Администрация Сайта предпринимает действия по защите прав и интересов лиц и обеспечению соблюдения требований законодательства Российской Федерации только после обращения заинтересованного лица к Администрации Сайта в установленном порядке.
      p 4.4. Администрация Сайта не несет ответственности за временные сбои и перерывы в работе Сайта и вызванные ими потери информации.
      p 4.5. Администрация Сайта не несет ответственности за нарушение Пользователем настоящих Правил.
      p 4.5.1. Администрация Сайта оставляет за собой право изменять или удалять размещённую Пользователем Сайта информацию, нарушающую запреты, установленные настоящими Правилами, с предварительным уведомлением либо без такового.
      p 4.5.2. Администрация Сайта оставляет за собой право ограничивать, приостанавливать или прекращать доступ Пользователя Сайта ко всем или к любому разделу Сайта в любое время по любой причине или без объяснения причин, с предварительным уведомлением либо без такового.
      p 4.6. Администрация Сайта имеет право направлять Пользователю информацию, связанную с Сайтом и его развитием, а так же о событиях на Сайте, непосредственно затрагивающих Пользователя Сайта.


      h2 5. Заключительные положения
      p 5.1. Настоящие Правила составляют соглашение между Пользователем и Администрацией Сайта относительно порядка использования Сайта и его функционала и заменяют собой все предыдущие соглашения между Пользователем и Администрацией.
      p 5.2. Пользователь может направить в адрес Администрации Сайта любые вопросы и/или запросы путём отправки сообщения в группу Вконтакте (эффективнее для вопросов по игровым блокировкам) или на электронный адрес vzangi@yandex.ru (для технических и платёжных вопросов, предложений и так далее).
