extends /layouts/two_column_9_3

block article 
  div(class="block mb-5")
    article
      h1 Перестрелка

      p Количество участников в игре от 6 до 21. Доступные роли: #[a(href="/roles#mafia" class="text-dark") мафия], #[a(href="/roles#citizen" class="text-dark") честный житель], #[a(href="/roles#commissar" class="text-dark") комиссар], #[a(href="/roles#sergeant" class="text-dark") сержант], #[a(href="/roles#child" class="text-dark") дитя], #[a(href="/roles#maniac" class="text-dark") маньяк], #[a(href="/roles#doctor" class="text-dark") врач] и #[a(href="/roles#paramour" class="text-dark") любовница]. Игра в данном режиме чем-то напоминает геймплей Mortal Kombat. 

      h4 Состав ролей

      p Наличие и состав ролей в партии будет разниться в зависимости от количества игроков, участвующих в ней.

      ul 
        li В партиях от 6 до 11 человек:
          ul 
            li 2 мафии
            li дитя
            li комиссар
            li маньяк

        li В партиях от 12 до 17 человек:
          ul 
            li 3 мафии
            li дитя
            li комиссар
            li сержант
            li маньяк
            li врач

        li В партиях от 18 человек:
          ul 
            li 4 мафии
            li дитя
            li комиссар
            li сержант
            li маньяк
            li врач
            li любовница

      h4 Специфика

      p В отличие от других режимов, в перестрелке каждый игрок имеет в начале игры дневные и ночные «жизни». Если уровень одной из этих жизней станет равным нулю - участник покидает игру.
      p Каждый игрок может взять с собой в игру до 5 вещей из своего #[a(href="/inventory") инвентаря], чтобы увеличить наносимый им урон. Суммарно максимальная сила урона игрока может быть равна 100. При этом величина урона наносимого днём расчитывается по формуле: #[b U#[sub d]&nbsp;=&nbsp;(100&nbsp;+&nbsp;x&nbsp;-&nbsp;y)&nbsp;/&nbsp;4], а величина урона наносимого ночью: #[b U#[sub n]&nbsp;=&nbsp;(100&nbsp;+&nbsp;x&nbsp;-&nbsp;y)&nbsp;/&nbsp;2]. Где x - сила атакующего, y - сила подверженного атаке.
      p Уровень дневных жизней виден всем игрокам в партии. Ночные же жизни видят только мафия и маньяк.


      h2 Этапы игры

      h5 Знакомство
      p Партия начинается с двухминутного знакомства игроков. 

      h5 День
      p Затем наступает «день», на который также отводится две минуты. Игроки голосуют против тех, кого они считают мафией, отнимая при этом часть дневных жизней. Те игроки, у которых уровень дневных жизней опуститься до нуля отправляются «в госпиталь» и игра на этом для них завершается. 
      p Независимо от того отправился ли кто-либо из игроков в госпиталь, после завершения голосования наступает следующий этап игры. 

      p Независимо от итогов голосования игроков в день, этот этап завершается и наступает ночь.

      h5 Ход комиссара
      p Следующим этапом идёт ход комиссара (если перед этим он не был отправлен «в госпиталь). Комиссар выбирает одного из игроков, чтобы узнать его роль. На этот выбор ему также даётся две минуты.

      h5 Ночь
      p На этом этапе мафии даётся две минуты, чтобы выстрелить и тем самым уменьшить уровень ночных жизней игроков. При этом, в отличие от других режимов, мафиози не обязаны стрелять в одного и того же игрока. Если уровень ночных жизней каких-либо игроков становится равным нулю, то эти игроки считаются «убитыми» и игра для них на этом заканчивается. 
      p Так же свой ночной ход в это время делают врач, любовница и маньяк (если они присутсвуют в игре). Они должны сделать свой ход до того как все мафиози сделают свой, так как ночь завершается с последним выстрелом мафии. Урон наносимый ночью маньяком и мафией суммируется, но каждый из них видит только тот урон, который нанёс он сам.

      h5 Переход
      p После ночи следует так называемый «переход» - трёхсекундный промежуток, в который комиссар или сержант может огласить проверку (при необходимости). Так же после перехода становиться известным, какие игроки были убиты мафией и маньяком.

      p Далее снова следует «день» и весь описанный ранее цикл повторяется.

      h5 Конец игры
      p Игра идёт до тех пор, пока вся мафия не выйдет из игры, либо пока в игре не останется ни одного игрока команды «честных горожан» и маньяка, либо пока кроме маньяка в игре никого не останется.