extends /layouts/two_column_9_3

block article 
  div(class="block mb-5")
    article
      h1 VIP статус

      p VIP статус открывает дополнительные возможности, недоступные обычным игрокам

      h4 Настройка заявки

      p Обычные игроки могут только создать заявку с указанием количества игроков и времени ожидания на сбор.Однако VIP игрок имеет более богатый функционал для заявок, которые он создал сам:

      ul 
        li #[b выгонять игроков из заявки];
        li #[b запускать игру в ручную], не дожидаясь окончания таймера;
        li #[b отключать автостарт игры], чтобы игра не запускалась при достижении указанного количества игроков.

      h4 Дополнительный режим игры

      p Кроме стандартных режимов, доступных всем пользователям, игрок с VIP статусом может создать заявку в «Конструкторе», позволяющем выбрать любое сочетание и количество ролей в партии.

      h4 Прочее

      p Кроме этого, VIP игроки:

      ul 
        li Имеют вдвое больший шанс на выпадение приза после игры;
        li Могут дарить открытки отмеченные звёздочкой;
        li Могут запретить вход в созданные ими заявки, добавив неугодных игроков в ЧС;
        li Имеют доступ к расширенной статистике;
        li Могут устанавливать свой собственный фон страницы.

      h4 Как приобрести VIP статус?

      p VIP статус вам даст активация специального пропуска, который можно приобрести в маркете или на странице поиска игр. Пропуск — обычный предмет, который может лежать в инвентаре и который можно передать другу через предложение обмена. Пропуск может храниться в инвентаре сколько угодно долго.

      p Для получения вип-статуса нажмите на пропуск в инвентаре и выберите опцию «Активировать».

      h4 Какие пропуска есть на сайте?

      p На данный момент доступны два вида пропуска:

      div(class="d-flex gap-4") 
        div 
          p 
            b VIP пропуск на неделю
          p
            a(href="/market/thing/1")
              img(src="/uploads/thing/vip-week.svg" alt="VIP пропуск на неделю" width=200)
          p(class="text-center")
            button(class="btn btn-success btn-bye-vip ps-4 pe-4" data-item="1") Купить

        div 
          p 
            b VIP пропуск на месяц 
          p
            a(href="/market/thing/2")
              img(src="/uploads/thing/vip-month.svg" alt="VIP пропуск на месяц" width=200)
          p(class="text-center")
            button(class="btn btn-success btn-bye-vip ps-4 pe-4" data-item="2") Купить

block aside
  include /includes/blog-menu
  +blog_menu('vip')

block scripts 
  script(src="/js/blog/vip.js")